

#form > .myPage-main > .content {
    position: relative;
    max-width: 1060px;
    min-width: 1024px;
    padding-bottom: 80px;
    margin-top: -4rem;
}

#form > .myPage-main > .content > .title {
    margin-top: -1rem;
    display: flex;
    font-weight: 700;
    font-size: 3rem;
    justify-content: center;
}

#form > .myPage-main > .content > .title-mini {
    color: rgb(85, 85, 85);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-family: none;
    margin-top: -1rem;
    margin-bottom: 3rem;


}

#form > .myPage-main > .content > .step.step1,
#form > .myPage-main > .content > .step.step2,
#form > .myPage-main > .content > .step.step3 {
    display: none;
}

#form > .myPage-main > .content > .step.step1.visible,
#form > .myPage-main > .content > .step.step2.visible,
#form > .myPage-main > .content > .step.step3.visible {
    display: flex;

}

#form > .myPage-main > .content > .step.step1 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    border-top: 0.1rem solid rgb(0,0,0);
    background-color: rgb(248,248,248);
    padding-bottom: 5rem;
}

#form > .myPage-main > .content > .step.step1 > .step1-title {
    font-size: 2rem;
    font-family: none;
    margin-bottom: 1rem;
}

#form > .myPage-main > .content > .step.step1 > .step1-title-mini {
    font-family: none;
    color: rgb(85, 85, 58);
    font-size: 1.1rem;
}

#form > .myPage-main > .content > .step.step1 > .label {
    margin-top: 2rem;
}

#form > .myPage-main > .content > .step.step1 > .label > .password-input {
    width: 25rem;
    height: 3rem;
    font-size: 1rem;
    border: 0.0625rem solid rgb(213, 216, 220);
    border-radius: 0.375rem;
}

#form > .myPage-main > .content > .step.step1 > .check-submit {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
    width: 25.7rem;



}

#form > .myPage-main > .content > .step.step1 > .check-submit > .cancel-button,
#form > .myPage-main > .content > .step.step1 > .check-submit > .check-button {
    width: 12rem;
    border-radius: 0.5rem;
    height: 3rem;
    font-size: 1.1rem;
    cursor: pointer;
}

#form > .myPage-main > .content > .step.step1 > .check-submit > .cancel-button {
    background-color: rgb(255, 255, 255);
}

#form > .myPage-main > .content > .step.step1 > .check-submit > .check-button {
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
}

#form > .myPage-main > .content > .step.step1 > .check-submit > .cancel-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid rgb(0, 0, 0);
    height: 2.8rem;
}

#form > .myPage-main > .content > .step.step1 > .warning-row,
#form > .myPage-main > .content > .step.step2 > .warning-row {
    display: none;
}

#form > .myPage-main > .content > .step.step1 > .warning-row.visible,
#form > .myPage-main > .content > .step.step2 > .warning-row.visible{
    display: flex;
    align-items: center;
    justify-content: center;

}

#form > .myPage-main > .content > .step.step1 > .warning-row .warning,
#form > .myPage-main > .content > .step.step2 > .warning-row .warning{
    background-color: rgb(231, 76, 60);
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    margin-top: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 24rem;
    font-family: none;
    padding: 0.5rem 5.3rem 0.5rem 5.3rem;
    width: 15rem;

}

#form > .myPage-main > .content > .step.step1 > .warning-row .warning > .icon,
#form > .myPage-main > .content > .step.step2 > .warning-row .warning > .icon{
    font-size: 1.5rem;
    margin: 0 1rem 0 0.5rem;
}

#form > .myPage-main > .content > .step.step1 > .message-row .warning > .text,
#form > .myPage-main > .content > .step.step2 > .message-row .warning > .text{
    flex: 1;
    text-align: justify;
    font-size: 1.15rem;
    margin-left: 1rem;
}


#form > .myPage-main > .content > .step.step2 {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#form > .myPage-main > .content > .step.step2 > .table {
    width: 50rem;
    margin-left: -5rem;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > th {
    padding-right: 1rem;
    white-space: nowrap;
    text-align: right;
    font-size: 1.1rem;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr:not(:last-child) > th,
#form > .myPage-main > .content > .step.step2 > .table > tbody > tr:not(:last-child) > td {
    padding-bottom: 1rem;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label.email,
#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label.address {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label {
    display: block;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label.email + .label.email,
#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label.password + .label.password,
#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label.address + .label.address {
    margin-top: 0.375rem;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label > input + input {
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    border: rgb(234, 236, 238);
    background-color: rgba(11, 124, 4, 50%);
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 0.8rem;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label > input + input:hover {
    background-color: rgba(11, 124, 4, 60%);
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .label > input + input:active {
    background-color: rgba(11, 124, 4, 70%);
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .warning {
    color: rgb(231, 76, 60);
    display: none;
    font-size: 90%;
    margin-top: 0.5rem;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .warning.visible {
    display: block;
    font-family: none;
    font-weight: 600;
}

/* 이거 주소찾기 새로운 창 */
#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .panel.address {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 이거 화면 어둡게하는 거임 */
    background-color: rgba(0, 0, 0, 70%);
    position: fixed;

    display: none;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .panel.address.visible {
    display: block;
}

#form > .myPage-main > .content > .step.step2 > .table > tbody > tr > td > .panel.address > .dialog {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 27.5rem;
    max-height: 30rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%, -50%);

}

#form > .myPage-main > .content > .step.step2 > .check-submit-step2 {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
    width: 25.7rem;


}

#form > .myPage-main > .content > .step.step2 > .check-submit-step2 > .cancel-button,
#form > .myPage-main > .content > .step.step2 > .check-submit-step2 > .check-button {
    width: 12rem;
    border-radius: 0.5rem;
    height: 3rem;
    font-size: 1.1rem;
    cursor: pointer;
}

#form > .myPage-main > .content > .step.step2 > .check-submit-step2 > .cancel-button {
    background-color: rgb(255, 255, 255);
}

#form > .myPage-main > .content > .step.step2 > .check-submit-step2 > .check-button {
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
}

#form > .myPage-main > .content > .step.step2 > .check-submit-step2 > .cancel-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid rgb(0, 0, 0);
    height: 2.8rem;
}

.--object-input {
    width: 100%;
    height: 3.5rem;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(213, 216, 220);
    border-radius: 0.375rem;
    box-sizing: border-box;
    padding: 0.625rem 0.875rem;
}

.--object-input:disabled {
    background-color: rgb(234, 236, 238);
    color: rgb(171, 178, 185);
}

#form > .myPage-main > .content > .step.step3 {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    font-family: none;
    padding-bottom: 5rem;
    border-top: 0.1rem solid rgb(0,0,0);
    background-color: rgb(248,248,248);
}

#form > .myPage-main > .content > .step.step3 > .go-button {
    width: 12rem;
    border-radius: 0.5rem;
    height: 3rem;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
}

#form > .myPage-main > .content > .step.step3 > .step1-title-mini {
    color: rgb(85, 85, 58);
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#form > .myPage-main > .content > .step.step3 > .step1-title {
    font-size: 2rem;
}


#form > .myPage-main > .myPage-menu > ul > li > ul > .subMenu > .myPageModify {
    color: rgb(60, 166, 52);
}

#form > .myPage-main > .myPage-menu > ul > li > ul > .subMenu > .myPage {
    color: rgb(0,0,0);
}