<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dios - 로그인</title>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/login.css}">

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=77d80544834aa6a31ab1045f2451138f"></script>

    <script defer th:src="@{/member/resources/scripts/login.js}"></script>

    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>



</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<th:block th:replace="~{fragments/commonBody :: cover}"></th:block>
<main class="--main main">
    <form class="form" id="form">
        <div class="login">
            <h1>LOGIN</h1>
            <ul class="header">
                <li>
                    <a href="./register" class="sign-in">SIGN IN</a>
                </li>

                <li>
                    <input class="reset" name="resetButton" value="RESET" type="reset">
                </li>
            </ul>

            <div class="input">
                <label class="label email">
                    <span hidden>이메일</span>
                    <input class="email-input" maxlength="50" name="email"
                           placeholder="이메일 주소를 입력해 주세요." type="email">
                </label>

                <label class="label password">
                    <span hidden>비밀번호</span>
                    <input class="password-input" maxlength="50" name="password"
                           placeholder="비밀번호를 입력해 주세요." type="password">
                </label>

                <input class="login-button" name="loginSend" value="LOGIN"
                       type="submit">

                <label class="warning-row" rel="warningRow">
                    <span class="warning">
                        <i class="icon fa-solid fa-triangle-exclamation"></i>
                        <span class="text">이메일을 입력해 주세요</span>
                    </span>
                </label>

            </div>

            <div class="last">
                <div class="find">
                    <a class="find-email" href="./findEmail">이메일 찾기</a>
                    <a class="bar"> | </a>
                    <a class="recover-password" href="./recoverPassword">비밀번호 재설정</a>
                </div>


                <!--카카오 로그인-->
                <div class="kakao">
                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=b53a656bcd965d745a55ca52a6ccd639
                    &redirect_uri=http://localhost:8080/dios/kakao&response_type=code" id="loginButton" target="_blank" class="kakao-login-button">
                        <span class="icon">카카오로 시작하기</span>
                    </a>
                </div>
                <div class="login-container" id="loginContainer">
                    <iframe class="login-frame" id="loginFrame">

                    </iframe>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>