<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIOS :: 나의 Q&A</title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <script defer th:src="@{/bbs/resources/libraries/ckeditor/ckeditor.js}"></script>

    <script defer th:src="@{/resources/scripts/commonMyPage.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/commonMyPage.css}">
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/myPageQna.css}">
    <script defer th:src="@{/bbs/resources/scripts/list.js}"></script>

    <script th:if="${session.user == null }">
        alert('로그인 후 이용하실 수 있습니다.');
        window.location.href = 'login';
    </script>

</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>

<th:block th:replace="~{fragments/commonBody :: cover}"></th:block>
<main class="--main main" th:if="${session.user != null}">
    <form class="form" id="form">
        <div class="title-container">
            <h1 class="title">마이페이지</h1>
        </div>
        <div class="myPage-main">
            <th:block th:replace="~{fragments/commonMyPage :: menu}"></th:block>
            <div class="--content content">
                <h1 class="title">Q&A</h1>
                <table class="table" id="table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성 시간</th>
                        <th>조회수</th>
                        <th>추천</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="article: ${articles}" th:if="${article.getUserNickname().equals(session.user.getNickname())}">
                        <td th:text="${article.getIndex()}">3</td>
                        <td>
                            <a class="title" th:href="@{/dios/read(aid=${article.getIndex()})}">
                                <span class="text" th:text="${article.getTitle()}">세번째 게시글</span>
                                <span class="comment" th:text="${'['+article.getCommentCount()+']'}">[3]</span>
                            </a>
                        </td>
                        <td th:text="${article.getUserNickname()}">쉘던</td>
                        <td th:text="${#dates.format(article.getModifiedOn(),'yyyy-MM-dd HH:mm:ss')}">2022-01-03 00:00:00</td>
                        <td th:text="${article.getView()}">17</td>
                        <td th:text="${article.
                getLikeCount()}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="page-container"
                                 th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                <a class="page"
                                   th:href="@{${urlBuilder.replaceQueryParam('page',paging.minPage).build().toUriString()}}"
                                   th:if="${paging.requestPage > 1}">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                                <a class="page"
                                   th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage - 1).build().toUriString()}}"
                                   th:if="${paging.requestPage > 1}">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                                <a class="page"
                                   th:each="page:${#numbers.sequence(paging.startPage,paging.endPage)}"
                                   th:class="${'page ' + (page == paging.requestPage ? 'selected' : '')}"
                                   th:text="${page}"
                                   th:href="@{${urlBuilder.replaceQueryParam('page',page).build().toUriString()}}"></a>

                                <a class="page"
                                   th:href="@{${urlBuilder.replaceQueryParam('page',paging.requestPage + 1).build().toUriString()}}"
                                   th:if="${paging.requestPage < paging.maxPage}">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>

                                <a class="page"
                                   th:href="@{${urlBuilder.replaceQueryParam('page',paging.maxPage).build().toUriString()}}"
                                   th:if="${paging.requestPage < paging.maxPage}">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <div class="button-container" id="buttonContainer">
                    <a class="--object-button" id="submit" th:href="@{/dios/write(bid=${board.getId()})}">글쓰기</a>
                </div>

                <div class="search-form" id="searchForm" method="get">
                    <label class="label">
                        <span hidden>검색 기준</span>
                        <select class="--object-input" name="criterion"
                                th:with="criterion=${#request.getParameter('criterion')}">
                            <option value="all" th:selected="${criterion == null || criterion.equals('all')}">제목 + 내용</option>
                            <option value="title" th:selected="${criterion != null && criterion.equals('title')}">제목</option>
                            <option value="nickname" th:selected="${criterion != null && criterion.equals('nickname')}">작성자
                            </option>
                        </select>
                    </label>
                    <label class="label">
                        <span hidden>검색어</span>
                        <input class="--object-input" maxlength="50" name="keyword" placeholder="검색어를 입력해 주세요." type="text"
                               th:value="${#request.getParameter('keyword')}">
                    </label>
                    <input name="bid" type="hidden" th:value="${board.getId()}">
                    <input id="search" class="—object-button" type="submit" value="검색">
                </div>
            </div>
        </div>
    </form>
</main>
<th:block th:replace="~{fragments/commonBody :: footer}"></th:block>
</body>
</html>
