<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIOS :: 마이페이지</title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <script defer th:src="@{/member/resources/scripts/myPageModify.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/commonMyPage.css}">

    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/myPageModify.css}">
    <script defer th:src="@{/resources/scripts/commonMyPage.js}"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body th:if="${session.user != null}">
<th:block th:replace="~{fragments/commonBody ::header}"></th:block>

<th:block th:replace="~{fragments/commonBody :: cover}"></th:block>
<main class="--main main">
    <form th:class="${'form ' + (session.user.getPassword().equals('') ? 'step2' : 'step1')}" method="post" id="form">
        <div class="title-container">
            <h1 class="title">마이페이지</h1>
        </div>
        <div class="myPage-main">
            <th:block th:replace="~{fragments/commonMyPage :: menu}"></th:block>

            <div class="content">
                <h2 class="title">회원정보 수정</h2>
                <a class="title-mini">회원님의 소중한 정보 안전하게 관리하세요 !</a>
                <div th:class="${'step step1' + (session.user.getPassword().equals('') ? '' : ' visible')}" rel="step1">
                    <a class="step1-title">회원정보를 수정하시려면 비밀번호를 입력하셔야 합니다.</a>
                    <a class="step1-title-mini">회원님의 개인정보 보호를 위한 본인 확인 절차이오니, DIOS 회원 로그인 시 사용하시는 비밀번호를 입력해주세요.</a>

                    <label class="label password">
                        <span hidden>비밀번호</span>
                        <input class="password-input" maxlength="50" name="password"
                               placeholder="비밀번호를 입력해 주세요." type="password">
                    </label>

                    <div class="check-submit">
                        <a class="cancel-button" href="./myPage">취소</a>
                        <input class="check-button" rel="checkSend" value="확인"
                               type="button">
                    </div>

                </div>
                <div th:class="${'step step2' + (session.user.getPassword().equals('') ? ' visible' : '')}" rel="step2">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>이메일</th>
                            <td>
                                <label class="label email">
                                    <span hidden>이메일</span>
                                    <input class="--object-input input" name="email" maxlength="10" type="text"
                                           th:value="${session.user.getEmail()}" disabled>
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <th>닉네임</th>
                            <td>
                                <label class="label">
                                    <span hidden>닉네임</span>
                                    <input class="--object-input input" name="nickname" maxlength="10" type="text"
                                           th:value="${session.user.getNickname()}" placeholder="닉네임을 입력해주세요.">

                                </label>
                            </td>
                        </tr>

                        <tr>
                            <th>이름</th>
                            <td>
                                <label class="label">
                                    <span hidden>이름</span>
                                    <input class="--object-input input" name="name" maxlength="5" type="text"
                                           th:value="${session.user.getName()}" placeholder="이름을 입력해주세요.">

                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td>
                                <label class="label">
                                    <span hidden>연락처</span>
                                    <input class="--object-input input" name="contact" maxlength="12" type="text"
                                           th:value="${session.user.getContact()}" placeholder="연락처를 ' - ' 없이 입력해 주세요.">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <label class="label address">
                                    <span hidden>우편번호</span>
                                    <input class="--object-input input" name="addressPostal" maxlength="6" readonly
                                           type="text" th:value="${session.user.getAddressPostal()}"
                                           placeholder="우편 번호">
                                    <input class="--object-button" name="addressFind" value="주소 찾기" type="button">
                                </label>
                                <label class="label address">
                                    <span hidden>기본 주소</span>
                                    <input class="--object-input input" name="addressPrimary" maxlength="100" readonly
                                           type="text" th:value="${session.user.getAddressPrimary()}"
                                           placeholder="주소 찾기를 통해 주소를 입력해 주세요.">

                                </label>
                                <label class="label address">
                                    <span hidden>상세 주소</span>
                                    <input class="--object-input input" name="addressSecondary" maxlength="100"
                                           type="text" th:value="${session.user.getAddressSecondary()}"
                                           placeholder="상세 주소를 입력해 주세요.">
                                </label>
                                <div class="panel address" rel="addressFindPanel">
                                    <div class="dialog" rel="addressFindPanelDialog"></div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="check-submit-step2">
                        <a class="cancel-button" href="./myPage">취소</a>
                        <input class="check-button" rel="checkSend2" value="확인"
                               type="button">
                    </div>
                </div>

                <div class="step step3" rel="step3">
                    <a class="step1-title">회원님의 정보가 수정되었습니다.</a>
                    <a class="step1-title-mini">[바로가기] 버튼을 클릭하시면 DIOS 페이지로 이동됩니다. </a>
                    <a class="go-button" href="./myPageModify">바로가기</a>
                </div>


            </div>
        </div>
    </form>
</main>
<th:block th:replace="~{fragments/commonBody :: footer}"></th:block>
</body>
</html>