<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIOS :: 마이페이지</title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <script defer th:src="@{/member/resources/scripts/myPage.js}"></script>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/myPage.css}">
</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>

<th:block th:replace="~{fragments/commonBody :: cover}"></th:block>
<main class="--main main">
    <form class="form" id="form">
        <div class="title-container">
            <h1 class="title">마이페이지</h1>
        </div>
        <div class="myPage-main">
            <div class="myPage-menu">
                <ul>
                    <li>
                        <h2>마이정보</h2>
                        <ul>
                            <li class="subMenu">
                                <a href="#" class="comment">프로필 수정</a>
                            </li>
                            <li class="subMenu">
                                <a href="#" class="information">회원정보 수정</a>
                            </li>
                            <li class="subMenu">
                                <a href="#" class="article">비밀번호 재설정</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2>마이쇼핑</h2>
                        <ul>
                            <li class="subMenu">
                                <a href="#" class="order">주문/배송 조회</a>
                            </li>
                            <li class="subMenu">
                                <a href="#" class="cancel">취소/반품/교환 내역</a>
                            </li>
                            <li class="subMenu">
                                <a href="#" class="cart">장바구니</a>
                            </li>
                            <li class="subMenu">
                                <a href="#" class="like">좋아요</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2>마이활동</h2>
                        <ul>
                            <li class="subMenu">
                                <a href="#" class="qna">문의 내역</a>
                            </li>
                            <li class="subMenu">
                                <a href="#" class="article">게시글</a>
                            </li>
                            <li class="subMenu">
                                <a href="#" class="comment">댓글</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="myPage-content">
                <div class="content">
                    <h2>프로필 수정</h2>
                    <a class="mini-content"><b>DIOS</b> 프로필과 닉네임을 수정할 수 있습니다.</a>
                    <table class="table_model">
                        <colgroup>
                            <col style="width: 22%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <div class="thcell">프로필 사진</div>
                            </th>
                            <td>
                                <div class="tdcell">
                                    <div class="profile-photo" rel="imageContainer">
                                        <img class="profile-img" id="imgThumb"
                                             src="https://static.nid.naver.com/images/web/user/default.png?type=s160"
                                             width="100" height="100">
                                        <div class="modify-button">

                                            <input hidden multiple accept="image/*" name="images" type="file">

                                            <a class="image-select-button" href="#" rel="imageSelectButton">사진변경</a>
                                            <a class="image-delete-button" href="#" rel="imageDeleteButton">삭제</a>
                                        </div>

                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="thcell">
                                    <label class="select-nickname">별명</label>
                                </div>
                            </th>
                            <td>
                                <div class="tdcell">
                                    <p class="context-nickname">
                                        <label>



                                            <!--/*@thymesVar id="user" type="com.blackgreen.dios.entities.member.UserEntity"*/-->
                                            <input type="text" name="nickname" placeholder="변경할 닉네임">
                                        </label>
                                        <label>
                                            <input type="text" style="display: none">
                                        </label>
                                    </p>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>


                    <div class="--object-button">

                        <input class="submit-button" name="profileSend" value="제출"
                               type="submit">

                        <input class="cancel-button" name="profileCancel" value="취소"
                               type="submit">

                    </div>


                </div>
            </div>

        </div>
    </form>
</main>
</body>
</html>