<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>주문/배송 조회</title>
  <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
  <script defer th:src="@{/member/resources/scripts/myPageDeliveryCheck.js}"></script>
  <link rel="stylesheet" th:href="@{/resources/stylesheets/commonMyPage.css}">

  <link rel="stylesheet" th:href="@{/member/resources/stylesheets/myPageDeliveryCheckDetail.css
    }">
  <script defer th:src="@{/resources/scripts/commonMyPage.js}"></script>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body th:if="${session.user != null}">
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>

<th:block th:replace="~{fragments/commonBody :: cover}"></th:block>
<main class="--main main" th:if="${session.user != null}">
  <form class="form" id="form">
    <div class="title-container">
      <h1 class="title">마이페이지</h1>
    </div>
    <div class="myPage-main">
      <th:block th:replace="~{fragments/commonMyPage :: menu}"></th:block>
      <div class="content">
        <h2 class="title">상세정보</h2>
        <ul class="information">
          <li>
            <span>구매일자&nbsp;&nbsp;:</span>

            <strong th:text="${#dates.format(orderDate,'yyyy-MM-dd')}">2022.12.23</strong>
          </li>
          <li>
            <span class="text">온라인 구매</span>
          </li>
        </ul>
        <h3 class="sub-title">온라인 구매 상품</h3>
        <table class="board-list">
          <colgroup>
            <col style="width:*;">
            <col style="width:130px;">
            <col style="width:8%;">
            <col style="width:130px;">
            <col style="width:110px;">
          </colgroup>
          <thead>
          <tr>
            <th scope="col">상품명</th>
            <th scope="col">판매가</th>
            <th scope="col">수량</th>
            <th scope="col">구매가</th>
            <th scope="col">진행현황</th>
          </tr>
          </thead>
          <tbody class="history">
          <tr th:each="order: ${orders}">
            <td class="subject">
              <div class="area">
                <a class="pro-photo" th:href="@{/goods/read (gid=${order.getItemIndex()})}">
                  <img th:src="@{'/goods/titleImage?index='+${order.getItemIndex()}}" alt="">
                </a>

                <div class="pro-text">
                  <a href="#">
                    <span class="title" th:text="${order.getStoreName()}">나이키</span>
                    <span class="text" th:text="${order.getItemName()}">나이키 반바지</span>
                  </a>

                  <span class="colorSize">
                                        <i class="title">옵션
                                        </i>
                                         <a th:text="${order.getOrderColor()}"
                                         ></a>,
                                        <a th:text="${order.getOrderSize()}"></a>
                                    </span>
                </div>
              </div>
            </td>
            <td class="sell-money">
              <strong th:text="${order.getPriceCnt()}">54,000</strong> 원
            </td>

            <td class="count" th:text="${order.getCount()}"> 1</td>

            <td class="buy-money">
              <strong th:text="${order.getPriceCnt()}">54,000</strong> 원
            </td>

            <td>
              <strong th:text="${order.getStatus()}">구매완료</strong>
            </td>
          </tr>
          </tbody>
        </table>

        <h3 class="sub-title">결제 정보</h3>
        <div class="price">
          <ul class="list">
            <li>
              <dl>
                <dt>총 상품 금액</dt>
                <span th:text="${totalPrice}  + '원'">54,000</span>
              </dl>
            </li>
            <li>
              <dl>
                <dt>할인금액</dt>
                <span>0원</span>


              </dl>
            </li>
            <li>
              <dl>
                <dt>결제</dt>
                <span th:text="${totalPrice} + '원'">4,000</span>

              </dl>
            </li>
          </ul>
          <div class="price-sum">
            <div>
              <strong> 총 결제금액 </strong>
              <span th:text="${totalPrice}  + '원'"></span>

            </div>

          </div>
        </div>
        <div class="listButtonContainer">
          <a href="./myPageDeliveryCheck" class="list-button">목록</a>
        </div>
      </div>
    </div>
  </form>
</main>
<th:block th:replace="~{fragments/commonBody :: footer}"></th:block>
</body>
</html>