<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>회원탈퇴</title>
  <th:block th:replace="~{fragments/commonHead :: common}"></th:block>

  <script defer th:src="@{/member/resources/scripts/myPageDelete.js}"></script>
  <script defer th:src="@{/resources/scripts/commonMyPage.js}"></script>
  <link rel="stylesheet" th:href="@{/resources/stylesheets/commonMyPage.css}">
  <link rel="stylesheet" th:href="@{/member/resources/stylesheets/myPageDelete.css}">

</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>

<th:block th:replace="~{fragments/commonBody :: cover}"></th:block>
<main class="--main main" th:if="${session.user != null}">
  <form class="form" id="form">
    <div class="title-container">
      <h1 class="title">마이페이지</h1>
    </div>
    <div class="myPage-main" >
      <th:block th:replace="~{fragments/commonMyPage :: menu}"></th:block>
      <div class="myPage-content">
        <div class="content">
          <h2>회원탈퇴</h2>
          <div class="text">
            <a>회원 탈퇴(이용약관 동의 철회)시 아래 내용을 확인해주세요.</a>
          </div>

          <ul class="agreeText">
            <li>DIOS 이용약관 동의 철회 시 고객님께서 보유하셨던 쿠폰은 모두 삭제되며, 재가입 시 복원이 불가능합니다.</li>
            <li>DIOS 이용약관 동의 철회 시에는 DIOS 서비스를 이용할 수 없습니다.</li>
            <li>DIOS 이용약관 동의를 철회한 후에라도 해당 약관에 다시 동의하시면 서비스를 이용할 수 있습니다.</li>
            <li>진행 중인 전자상거래 이용내역(결제/배송/교환/반품 중인 상태)이 있거나 고객상담 및 이용하신 서비스가 완료되지 않은 경우 서비스 철회 하실 수 없습니다.</li>
          </ul>

          <div class="last">

            <div class="lastQuestion">DIOS 회원 탈퇴(이용약관 동의 철회)를 하시겠습니까?</div>
            <input class="delete-button" name="deleteButton" value="회원탈퇴"
                   type="submit">
          </div>

        </div>
      </div>
    </div>
  </form>
</main>
<th:block th:replace="~{fragments/commonBody :: footer}"></th:block>
</body>
</html>