<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${'dios : '+(board==null ? '' :board.getText()) +': 글 수정'}">스터디 :: 글 수정</title>
    <script th:if="${result.equals('NO_SUCH_ARTICLE')}">
        alert('존재하지 않는 게시글입니다.');
        if(window.history.length>1){
            window.history.back();
        }
        else {
            window.close();
        }
    </script>
    <script th:if="${result.equals('NOT_ALLOWED')}">
        alert('해당 게시글을 수정할 권한이 없습니다.');
        if(window.history.length>1){
            window.history.back();
        }
        else {
            window.close();
        }
    </script>

    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/modify.css}">
    <script defer th:src="@{/bbs/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/bbs/resources/scripts/modify.js}"></script>
</head>
<body th:if="${result.equals('SUCCESS')}">
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<th:block th:replace="~{fragments/commonBody :: cover}"></th:block>

<main class="--main main">
    <form class="content --content" id="form">
        <h1 class="title" th:text="${board.getText()}+'-글 수정'"></h1>
        <input name="bid" type="hidden" th:value="${board.getId()}" >
        <table class="table" id="table">
            <tbody>
            <tr>
                <th></th>
                <td>
                    <label class="label">
                        <span hidden>제목</span>
                        <input class="--object-input input" maxlength="100" name="title" placeholder="제목을 입력해 주세요"
                               type="text" th:value="${article.getTitle()}">
                    </label>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <label class="label">
                        <span hidden>내용</span>
                        <textarea class="--object-input input" maxlength="10000" name="content"
                                  placeholder="내용을 입력해 주세요" th:text="${article.getContent()}"></textarea>
                    </label>
                </td>
            </tr>
            <tr class="warning-row" rel="warningRow">
                <th></th>
                <td>
                    <span class="warning">
                      <i class="icon fa-solid fa-triangle-exclamation"></i>
                      <span rel="warningText">제목을 입력해 주세요.</span>
                    </span>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <div class="button-container">
                        <input class="--object-button" name="back" type="button" value="돌아가기">
                        <input class="--object-button" name="submit" type="submit" value="수정하기">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
<th:block th:replace="~{fragments/commonBody :: footer}"></th:block>
</body>
</html>
