 <!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글 읽기</title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/read.css}">
    <script defer th:src="@{/bbs/resources/scripts/read.js}"></script>
</head>
<body th:if="${board != null}">
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<th:block th:replace="~{fragments/commonBody :: cover}"></th:block>
<main class="--main main">
    <div class="--content content">
        <h1 class="title" th:text="${board.getText()}">COMMUNITY</h1>
        <table class="table" id="table">
            <div id="title" th:utext="${article.getTitle()}"></div>
            <div class="board_summary" id="boardSummary">
                <div class="left" id="left">

                    <img alt th:src = "@{'/dios/profileImages?aid='+${aid}}" class="profileImage" id="profileImage">
                    <div class="box" id="box">
                        <div class="top" id="top">
                            <div class="nickName" th:text="${article.getUserNickname()}"></div>
                        </div>
                        <div class="bottom" id="bottom">
                            <div class="date"
                                 th:text="${#dates.format(article.getWrittenOn(),'yyyy-MM-dd HH:mm:ss')}"></div>
                            <div class="view" th:text="${'조회수 ' + article.getView()}"></div>
                            <div class="recommend" th:text="${'추천 ' + article.getLikeCount()}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <tbody>
            <tr>
                <td colspan="8">
                    <div class="content-container">
                        <p th:utext="${article.getContent}">글 내용</p>
                    </div>
                    <div class="like-container" id="likeContainer">
                        <div class="commentButton">
                            <i class="fa-regular fa-comment"></i>
                            <span th:text="${article.getCommentCount()}">9,999 </span>
                        </div>
                        <div class="likeButton" id="likeButton" >
                            <a href="#" th:class="toggle" rel="like">

                                <i class="icon fa-regular fa-thumbs-up"></i>
                            </a>
                            <span th:text="${article.getLikeCount()}"> </span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>

            <tr class="comment-row">
                <td colspan="8">
                    <form class="comment-form" id="commentForm" th:if="${session.user !=null}">
                        <label class="label">
                            <span hidden>댓글 작성</span>
                            <input class="--object-input" maxlength="100" name="content" placeholder="댓글을 입력해주세요."
                                   type="text">
                        </label>
                        <div class="secret" id="secret">
                            <a href="#" class="toggle">
                                <i class="icon fa-solid fa-unlock"></i>
                            </a>
                        </div>
                        <input name="aid" type="hidden" th:value="${article.getIndex()}">
                        <input class="--object-button" type="submit" value="작성">
                    </form>
                    <div class="comment-container" id="commentContainer">
                        <div class="comment liked mine">
                            <div class="head">
                                <span class="writer">관리자</span>
                                <span class="dt">2022-01-01 00:00:00</span>
                                <span class="count">9,999 </span>
                                <span class="spring"></span>
                                <span class="action-container">
                                    <a class="action reply" href="#">답글</a>
                                    <a class="action modify" href="#">수정</a>
                                    <a class="action delete" href="#">삭제</a>
                                    <a class="action cancel" href="#">취소</a>
                                </span>
                            </div>
                            <div class="body">
                                <div class="content">
                                    <span class="text">댓글 내용</span>
                                    <div class="like">
                                        <a href="#" class="toggle">
                                            <i class="icon fa-solid fa-heart" id="heart"></i>
                                        </a>

                                    </div>
                                </div>
                                <form class="modify-form">
                                    <label class="label">
                                        <span hidden>댓글 수정</span>
                                        <input class="--object-input" maxlength="100" name="content"
                                               placeholder="댓글을 입력해 주세요." type="text">
                                    </label>
                                    <input class="--object-button" type="submit" value="수정">
                                </form>

                            </div>
                        </div>
                        <form class="reply-form" id="replyForm">
                            <div class="head">
                                <span class="to">@관리자</span>
                                <a href="#" class="cancel">취소</a>
                            </div>
                            <div class="body">
                                <label class="label">
                                    <span hidden>답글 작성</span>
                                    <input class="--object-input" maxlength="100" name="content"
                                           placeholder="답글을 입력해 주세요." type="text">
                                </label>
                                <div class="secret" >
                                    <a href="#" class="toggle">
                                        <i class="icon fa-solid fa-unlock"></i>
                                    </a>
                                </div>
                                <input class="--object-button" type="submit" value="작성">
                            </div>

                        </form>
                        <div class="comment sub">
                            <div class="head">
                                <span class="writer">누구</span>
                                <span class="dt">2022-01-01 00:00:00</span>
                                <span class="spring"></span>
                                <span class="action-container">
                                 <a class="action reply" href="#">답글 달기</a>
                                 <a class="action delete" href="#">삭제</a>
                                </span>
                            </div>
                            <div class="body">댓글</div>
                        </div>
                        <div class="comment sub mine">
                            <div class="head">
                                <span class="writer">관리자</span>
                                <span class="dt">2022-01-01 00:00:00</span>
                                <span class="spring"></span>
                                <span class="action-container">
                                  <a class="action reply" href="#">답글 달기</a>
                                  <a class="action delete" href="#">삭제</a>
                                </span>
                            </div>
                            <div class="body">엳</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div class="button-container" id="buttonContainer">
                        <a class="--object-button list"
                           th:href="@{./list (bid=${article.getBoardId()})}">목록</a>
                        <span class="spring"></span>
                        <a class="--object-button modify"
                           id="modifyButton"
                           th:href="@{./modify (aid=${article.getIndex()})}"
                           th:if="${session.user !=null && session.user.getEmail().equals(article.getUserEmail())}">수정</a>
                        <a class="--object-button delete" href="#" id="deleteButton"
                           th:if="${session.user !=null && session.user.getEmail().equals(article.getUserEmail())}">삭제</a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</main>

</body>
</html>