@charset "UTF-8";

body > .main {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    width: 100%;
}

body > .main > .do {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /*width: 100%;*/
    /*max-width: 80rem;*/
}

body > .main > .do > .do-container {
    width: 200rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #eae7e7;
}


body > .main > .do > .do-container > .do-text-main {
    margin-top: 3rem;

    font-size: 3.5rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    color: rgb(44, 43, 43);
}

.star {
    font-size: 2rem;
}

body > .main > .do > .do-container > .do {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    filter: brightness(60%);

    margin-top: 2rem;
}

body > .main > .do > .do-container > .do > .squat,
body > .main > .do > .do-container > .do > .lunge,
body > .main > .do > .do-container > .do > .plank {
    overflow: hidden;

    width: 27rem;
    height: 35rem;

    margin-bottom: 2rem;
}

body > .main > .do > .do-container > .do > .squat {
    border-left: 0.6rem solid rgb(44, 43, 43);
    border-top: 0.6rem solid rgb(44, 43, 43);
    border-bottom: 0.6rem solid rgb(44, 43, 43);
}

body > .main > .do > .do-container > .do > .lunge {
    border-top: 0.6rem solid rgb(44, 43, 43);
    border-bottom: 0.6rem solid rgb(44, 43, 43);
}

body > .main > .do > .do-container > .do > .plank {
    border-right: 0.6rem solid rgb(44, 43, 43);
    border-top: 0.6rem solid rgb(44, 43, 43);
    border-bottom: 0.6rem solid rgb(44, 43, 43);
}


body > .main > .do > .do-container > .do > .squat > .squatImg,
body > .main > .do > .do-container > .do > .lunge > .lungeImg,
body > .main > .do > .do-container > .do > .plank > .plankImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body > .main > .do > .do-container > .content-container {
    font-family: 'IBM Plex Sans KR', sans-serif;

    margin-top: 11rem;

    position: absolute;
    opacity: 0;
    transition: all ease 0.5s;

    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);

    background-color: rgba(255, 255, 255, 60%);
    padding: 2rem 2rem 2rem 2rem;

    width: 76rem;
    height: 18rem;

}

body > .main > .do > .do-container > .do:hover {
    filter: brightness(20%);
}

body > .main > .do > .do-container > .do:hover + .content-container {

    opacity: 1;
}

body > .main > .do > .do-container > .start-container {
    margin-top: 1rem;
    margin-bottom: 3rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem 1rem 1rem 1rem;

    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;

    width: 20rem;

    cursor: pointer;
}

/*body > .main > .do > .do-container > .start-container:hover {*/
/*    background-color: rgb(91, 88, 88);*/
/*}*/

body > .main > .do > .do-container > .start-container > .startButton {
    text-decoration: none;
    color: rgb(255, 255, 255);

    font-weight: bold;
    font-size: 2.1rem;

    border-radius: 0.5rem;
}

body > .main > .do > .do-container > .start-container  {
    border: 0 solid rgb(0, 0, 0);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid rgb(0, 0, 0);
    -webkit-transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
}
body > .main > .do > .do-container > .start-container:hover {
    border: 1px solid;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}


.redText,
.startIcon {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(182, 16, 16);
}

#function-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#function-container > .function {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 7rem;
    margin-bottom: 7rem;
}

#function-container > .function > .manual,
#function-container > .function > .recordBook,
#function-container > .function > .shop {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#function-container > .function > .manual > .manualTitle,
#function-container > .function > .recordBook > .recordBookTitle,
#function-container > .function > .shop > .shopTitle {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);

    text-decoration-line: underline;
    text-decoration-color: #938f8f;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#function-container > .function > .manual > .manualTitle > .manualImage,
#function-container > .function > .recordBook > .recordBookTitle > .recordBookImage,
#function-container > .function > .shop > .shopTitle > .shopImage {
    width: 20rem;
    height: 17rem;
    border: 0.6rem solid rgb(44, 43, 43);

    filter: brightness(40%);

    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#function-container > .function > .manual > .manualTitle > .manualImage,
#function-container > .function > .recordBook > .recordBookTitle > .recordBookImage {
    margin-right: 4.5rem;

}

#function-container > .function > .manual > .manualTitle > .manualImage:hover,
#function-container > .function > .recordBook > .recordBookTitle > .recordBookImage:hover,
#function-container > .function > .shop > .shopTitle > .shopImage:hover {
    filter: brightness(100%);
}

#function-container > .function > .manual > .text,
#function-container > .function > .recordBook > .text,
#function-container > .function > .shop > .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 21.5rem;
}

#function-container > .function > .manual > .text > .one,
#function-container > .function > .recordBook > .text > .one,
#function-container > .function > .shop > .text > .one {
    font-size: 1.2rem;
    font-weight: bold;

    margin-bottom: 0.8rem;
}

#function-container > .function > .manual > .text > .two,
#function-container > .function > .recordBook > .text > .two,
#function-container > .function > .shop > .text > .two {
    font-size: 1rem;
    color: rgb(147, 143, 143);
}

#register {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    background-color: #eae7e7;

    width: 200rem;

    height: 25rem;
}

#register > .registerText {
    width: 70rem;

    align-items : flex-start;
    display : flex;
    flex-direction : column;
    justify-content: center;

    margin-bottom: 1.7rem;
}

#register > .registerText > .rt {
    font-size: 2.7rem;
}

#register > .registerButton {
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;

    width: 66rem;

    align-items : flex-end;
    display : flex;
    flex-direction : column;
    justify-content: center;

    color: rgb(255, 255, 255);

    padding: 1rem 2rem 1rem 3rem;

    font-size: 1.2rem;
    text-decoration: none;

    cursor: pointer;
}

#hover {
    border: 0.1rem solid rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}

#hover > span {
    z-index: 2;
    font-family: none;
}

#hover:after {
    content: "";
    height: 50rem;
    left: -1000px;
    opacity: .2;
    position: absolute;
    top: -300px;
    background: rgb(255, 255, 255);
    filter: brightness(80%);
    -webkit-transform: rotate(70deg);
    transform: rotate(35deg);
    -webkit-transition: all .99s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all .99s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50rem;
    /*z-index: -1;*/
}

#hover:hover:after {
    left: 120%;
}


/*뎡화 라인*/
.main > .bbs {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font: unset;
    font-family: none;
    background-color: rgb(255, 255, 255);

    padding-top: 5rem;
    padding-bottom: 6rem;

    width: 100%;
}

.main > .bbs > .img-container {
    margin-top: 2rem;

    overflow: hidden;
    width: 13rem;
    height: 35rem;

    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    border: 0.3rem solid rgb(44, 43, 43);

    background-color: rgba(0, 0, 0, 80%);
}

.main > .bbs > .img-container > .side-img {
    max-width: 36rem;
    filter: brightness(80%);
}

#hoverText {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    position: absolute;
    opacity: 0;
    transition: all ease 0.5s;

    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);

    background-color: rgba(255, 255, 255, 60%);
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;

    border-radius: 1rem;

    cursor: pointer;
}

.main > .bbs > .img-container> .side-img:hover {
    filter: brightness(40%);
}

.main > .bbs > .img-container> .side-img:hover + #hoverText {
    opacity: 1;
}



body > .main > .bbs > .best-bbs-container {
    /*margin-right: 3rem;*/
    margin-left: 3rem;
    margin-right: 2rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 25rem;
}

body > .main > .bbs > .best-bbs-container > .title,
body > .main > .bbs > .best-bbs-container > .text-container > .title{
    text-decoration-line: underline;
    text-decoration-color: #938f8f;
}

body > .main > .bbs > .best-bbs-container > .text-container {
    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
}

body > .main > .bbs > .best-bbs-container > .text-container > .free-bbs {
    margin-left: 1.5rem;
    color: rgb(147, 143, 143);
}

#table1, #table2 {
    border-collapse: collapse;
    font-size: 1rem;

    margin-top: 0.7rem;

}

#table1 td,
#table2 td {
    padding: 0.8rem 0.8rem;
    border-top: 1px solid rgb(120, 120, 120);

}

#table1 th,
#table2 th {
    color: rgb(107, 103, 103);
    font-weight: inherit;

}


#table1 > tbody > tr:not(:last-of-type) > td,
#table2 > tbody > tr:not(:last-of-type) > td {
    border-bottom: 0.0625rem solid rgb(181 176 165);
}

#table1 > tbody > tr > td,
#table2 > tbody > tr > td {
    color: rgb(131, 126, 126);
    text-align: start;
}


#table1 > tbody > tr > td > .title,
#table2 > tbody > tr > td > .title {
    color: rgb(0, 0, 0);
    text-decoration: none;

    align-items: center;
    display: flex;
    justify-content: flex-start;
}

#table1 > tbody > tr > td > .title:hover,
#table2 > tbody > tr > td > .title:hover {
    text-decoration: underline;
}

#table1 > tbody > tr > td > .title > .comment,
#table2 > tbody > tr > td > .title > .comment {
    color: rgb(211, 84, 0);
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

#table1 > tfoot > tr > td,
#table2 > tfoot > tr > td {
    color: rgb(0, 0, 0);

    padding-top: 1rem;

}

/*footer*/
body > .--footer {
    background-color: rgb(255, 255, 255);
}

body > .--footer > .home,
body > .--footer > .home > .sub-menu {
    border-top: 0.0625rem solid rgb(181 176 165);
}

body > .--footer {
    padding-top: 0rem;
}

body > .main > .bbs > .free {
    align-items : flex-start;
    display : flex;
    flex-direction : column;
    justify-content: center;

    max-width: 38rem;
}

body > .main > .bbs > .free > .go-container {
    width: 35rem;
    margin-top: 2rem;
    align-items : flex-end;
    display : flex;
    flex-direction : row;
    justify-content: flex-end;
    text-decoration: none;
}

body > .main > .bbs > .free > .go-container > .go-button {
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;

    padding: 0.8rem 1.5rem 0.8rem 1.5rem;

    cursor: pointer;
}

body > .main > .bbs > .free > .go-container > .go-button:hover {
    background-color: rgb(91, 88, 88);
}

body > .main > .bbs > .free > .go-container > .hidden {
    flex: 1;
}



#manual-container {
    align-items : center;
    display : none;
    flex-direction : row;
    justify-content: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 80%);
    position: fixed;
    z-index: 99;
}

#manual-container.visible {
    display: flex;
}

#manual-container > .button-left,
#manual-container > .button-right {
    color: rgb(238, 231, 217);
    font-size: 4rem;
    cursor: pointer;

    width: 4rem;

    z-index: 999;
}

#manual-container > .button-left:hover,
#manual-container > .button-right:hover {
    color: rgb(147, 143, 143);
}

#manual-container > .button-left {
    margin-left: 10rem;
}

#manual-container > .button-right {
    margin-right: 10rem;
}


#manual-container > .outer {
    border: 6px solid rgb(24, 24, 24);
    box-shadow: 3px 3px 7px 3px #282727;
    border-radius: 2rem;

    margin: 0 auto;
    overflow-x: hidden;

    width: 900px;
    height: 35rem;

    background-color: rgb(255, 255, 255);

    z-index: 999;
}

#manual-container > .outer > .inner-list {
    display: flex;
    transition: .3s ease-out;
    height: 100%;
    width: 900px;
}

#manual-container > .outer > .inner-list > .inner {
    padding: 0 16px;

    width: 900px;

    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: flex-start;

    margin-top: 1rem;
}

#manual-container > .outer > .inner-list > .inner > .icon-box {
    width: 100%;
    margin-bottom: 0.2rem;
    padding-right: 1.5rem;

    text-align: right;

    cursor: pointer;
}

#manual-container > .outer > .inner-list > .inner > .icon-box > .icon {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);

    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px #262626;
    padding: 0.07rem 0.3rem 0.07rem 0.3rem;

    background-color: rgb(147, 143, 143);
}

#manual-container > .outer > .inner-list > .inner > .icon-box > .icon:hover {
    background-color: rgb(255, 255, 255);
}

#manual-container > .outer > .inner-list > .inner > .setting > .setting-content {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    font-size: 2rem;
    font-weight: bold;

    margin-bottom: 0.8rem;

}

#manual-container > .outer > .inner-list > .inner > .setting > .setting-content > .text {
    font-weight: bold;
    font-size: 2.4rem;

    font-family: 'Gaegu', cursive;

    align-items : flex-start;
    display : flex;
    flex-direction : row;
    justify-content: center;
}

#manual-container > .outer > .inner-list > .inner > .setting > .setting-content > .two {
    margin-left: 10rem;
}

#manual-container > .outer > .inner-list > .inner > .setting > .setting-content > .text > .line {
    text-decoration-line: underline;
    text-decoration-color: #e7b20d;

    margin-left: 0.8rem;
}

#manual-container > .outer > .inner-list > .inner > .setting > .setting-content > .text > .icon {
    color: rgb(231, 178, 13);
    font-size: 1.2rem;
}

#manual-container > .outer > .inner-list > .inner > .setting > .setting-content > .second {
    font-size: 1.5rem;
}

#manual-container > .outer > .inner-list > .inner > .setting > .setting-img {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;
}

#manual-container > .outer > .inner-list > .inner > .setting > .cut {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    border-radius: 2rem;

    width: 40rem;
    height: 23rem;

    overflow: hidden;
}

#manual-container > .outer > .inner-list > .inner > .setting > .cutMore {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    border-radius: 2rem;

    width: 40rem;
    height: 17rem;
    margin-top: 2rem;

    overflow: hidden;
}

#manual-container > .outer > .inner-list > .inner > .setting > .setting-img > .si {
    width: 40rem;
    margin-bottom: 1rem;

    border-radius: 2rem;
}



