<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> DIOS :: 상품 수정 </title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/goods/stylesheets/modify.css}">
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/goods/scripts/modify.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<script
        th:if="${user == null || !user.isAdmin()}">
    alert('해당 페이지는 관리자만 접근할 수 있는 페이지입니다.');
    window.location.href='/dios/login';
</script>
<main class="main">
    <form id="form" class="content --content">
        <input type="hidden" name="itemIndex" th:value="${item.getIndex()}">
        <h1 class="title">상품 수정</h1>
        <table class="table" id="table">
            <tbody>
            <tr>
                <th>상품 분류</th>
                <td>
                    <label class="label">
                        <span hidden>상품 분류</span>
                        <select id="itemCategory" th:name="itemCategory">
                            <option value=""> 상품 종류를 선택해주세요.</option>
                            <option th:each="categories : ${category}"
                                    th:value="${categories.getId()}"
                                    th:if="${item.getCategoryId() == categories.getId()}"
                                    th:text="${categories.getText()}" selected name="category"></option>
                            <option th:each="categories : ${category}"
                                    th:value="${categories.getId()}"
                                    th:if="${item.getCategoryId() != categories.getId()}"
                                    th:text="${categories.getText()}" name="category"></option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <th>상품 이름</th>
                <td>
                    <label class="label">
                        <span hidden>상품 이름</span>
                        <input id="inputTitle" class="title-input" maxlength="100"
                               name="itemName"
                               placeholder="상품 이름을 입력해주세요."
                               type="text"
                               th:value="${item.getItemName()}">
                    </label>
                </td>
            </tr>
            <tr>
                <th>브랜드</th>
                <td>
                    <label class="label">
                        <span hidden>브랜드 이름</span>
                        <select id="seller" th:name="brand">
                            <option value=""> 상품 브랜드를 선택해주세요.</option>
                            <option th:each="sellers : ${seller}"
                                    th:value="${sellers.getIndex()}"
                                    th:if="${item.getSellerIndex() == sellers.getIndex()}"
                                    th:text="${sellers.getStoreName()}" selected
                                    name="sellerName"></option>

                            <option th:each="sellers : ${seller}"
                                    th:value="${sellers.getIndex()}"
                                    th:if="${item.getSellerIndex() != sellers.getIndex()}"
                                    th:text="${sellers.getStoreName()}"
                                    name="sellerName"></option>

                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <th>가격</th>
                <td>
                    <label class="label">
                        <span hidden>상품 가격</span>
                        <input id="inputPrice" class="seller-input" maxlength="100"
                               name="itemPrice"
                               placeholder="가격을 입력해주세요."
                               type="text"
                               th:value="${item.getPrice()}">
                    </label>
                </td>
            </tr>

            <tr class="goodsOption" id="goodsOption">
                <th>상품 옵션</th>
                <td>
                    <div class="color">
                        <span class="colorText">색상</span>
                        <div class="colorBox">
                            <input class="newColor" name="newColor" placeholder="ex)  블랙, 그레이, 블루" type="text">
                            <a class="newColorText">상품의 색깔을 입력 후, 엔터키를 눌러주세요.</a>
                        </div>
                        <div class="selectContainer">
                            <a class="selectText">COLOR</a>
                            <select class="colors" name="colors" id="colorOption" multiple>
                                <option th:each="color : ${colors}"
                                        th:value="${color.getColor()}"
                                        th:text="${color.getColor()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="size">
                        <span class="sizeText">사이즈</span>
                        <div class="sizeBox">
                            <input class="newSize" name="newSize" placeholder="ex)  230, 260, M, L, free size"
                                   type="text">
                            <a class="newSizeText">상품의 사이즈 입력 후, 엔터키를 눌러주세요.</a>
                        </div>
                        <div class="selectContainer">
                            <a class="selectText">SIZE</a>
                            <select class="sizes" name="sizes" id="sizeOption" multiple>
                                <option th:each="size : ${sizes}"
                                        th:value="${size.getSize()}"
                                        th:text="${size.getSize()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="count">
                        <span class="countText">수량</span>
                        <div class="countBox">
                            <input name="count" id="inputCount" type="text" class="newCount" placeholder="수량을 입력해주세요.">
                        </div>
                    </div>

                </td>
            </tr>

            <tr id="img-container">
                <th>상품 대표사진</th>
                <td>
                    <label class="label" id="label">
                        <input accept="image/*" multiple hidden type="file" name="images">
                        <span hidden>대표 사진</span>
                        <a rel="imageSelectButton" class="image-select-button" href="#"> 이미지 선택 ... </a>
                        <div class="image-container" rel="imageContainer">
                            <img class="title-img" id="imgThumb"
                                 th:src="@{./titleImage (index=${item.getIndex()})}"
                                 th:alt="${item.getTitleImageName()}">
                        </div>
                    </label>
                </td>
            </tr>
            <tr>
                <th>상품 상세 내용</th>
                <td>
                    <label class="label" id="detail">
                        <span hidden>상세 내용</span>
                        <textarea class="--object-input input" maxlength="10000" name="content"
                                  placeholder="내용을 입력해주세요." type="text"
                                  th:utext="${item.getItemDetail()}"></textarea>
                    </label>
                </td>
            </tr>
            <tr class="warning-row" rel="warningRow">
                <th></th>
                <td>
                   <span class="warning" rel="warning">
                         <i class="icon fa-solid fa-triangle-exclamation"></i>
                        <span class="text" rel="warningText"></span>
                   </span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="button-container" id="buttonContainer">
            <input class="—object-button" name="back" type="button" value="돌아가기">
            <input class="—object-button" name="submit" type="button" rel="submit" value="등록하기">
        </div>
    </form>

</main>
<th:block th:replace="~{fragments/commonBody :: footer}"></th:block>
</body>
</html>

