<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIOS GOODS</title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/goods/stylesheets/read.css}">
    <script defer th:src="@{/goods/scripts/read.js}"></script>

<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<main class="--main">
    <input name="gid" type="hidden" th:value="${goods.getIndex()}">
    <span class="function">
        <a th:href="@{/goods/modify(gid=${goods.getIndex()})}" class="title" id="title">
        <span class="text">상품 수정하기</span>
    </a>
    <a class="title" id="itemDelete">
        <span class="text">상품 삭제하기</span>
    </a>
    </span>


    <div class="title_box">
        <div class="item-title-img">
            <img th:src="@{./titleImage (index=${goods.getIndex()})}"
                 th:alt="${goods.getTitleImageName()}">
        </div>
        <div class="item-info" id="itemInfo">
            <h2 th:utext="${goods.getItemName()}"></h2>
            <form class="content" id="form">
                <table class="table" id="table">
                    <tbody>
                    <tr class="item-category">
                        <th>상품 분류</th>
                        <td th:text="${category.getText()}"></td>
                    </tr>
                    <tr class="item-brand">
                        <th>브랜드</th>
                        <td>
                            <div class="item-content" id="logoContainer">

                                <img class="logo"
                                     th:src="@{./sellerImage (index=${seller.getIndex()})}"
                                     th:alt="${seller.getImageName()}">

                                <a th:href="${seller.getHomePage()}"
                                   th:text="${seller.getStoreName()}"
                                   class="brand"></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="item-price">
                        <th>가격</th>
                        <td th:text="${#numbers.formatInteger(goods.getPrice(), 0, 'COMMA')+'원'}"></td>
                    </tr>
                    <tr class="color-option">
                        <th>색상</th>
                        <td>
                            <select id="colorOption" onchange="result()">
                                <option value="">----색상을 선택해 주세요----</option>
                                <option disabled value="">------------------------</option>
                                <option th:each="color: ${colors}"
                                        th:value="${color.getItemIndex}"
                                        th:text="${color.getColor()}">그레이
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr class="size-option">
                        <th>사이즈</th>
                        <td>
                            <select id="sizeOption" onchange="result()">
                                <option value="">----사이즈를 선택해 주세요----</option>
                                <option disabled value="">------------------------</option>
                                <option th:each="size:${sizes}"
                                        th:value="${size.getItemIndex}"
                                        th:text="${size.getSize()}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

            <form class="resultForm" id="resultForm">
                <input type="hidden" name="count" value="0">
                <div class="result" id="result">
                <span class="item-summary">
                    <span class="item-name" th:text="${goods.getItemName()}"></span>
                <div class="option">
                    <span class="color" id="resultColor">사용자가 선택한 색상</span>
                    <span class="size" id="resultSize">사용자가 선택한 사이즈</span>
                </div>
                </span>
                    <input type='button'
                           onclick='count("minus")'
                           value='-'/>
                    <div id='count'> 1 </div>
                    <input type='button'
                           onclick='count("plus")'
                           value='+'/>
                </div>
            </form>

            <div class="button-container">
                <input type="button" class="cart-button" value="BUY IT NOW"
                       rel="orderButton" th:if="${session.user !=null}">
                <input type="button" class="order-button" value="ADD TO CART"
                       rel="cartButton" th:if="${session.user !=null}">
            </div>

        </div>

    </div>
    <div class="menu-container">
        <ul class="menu">
            <li class="--item">
                <a class="--link" href="#">detail</a>
            </li>
            <li class="--item">
                <a class="--link" href="#">review</a>
            </li>
            <li class="--item contact">
                <a class="--link" href="#">contact</a>
            </li>
        </ul>
    </div>
    <div class="detail-container">
        <div class="content-container" rel="contentContainer">
            <div class="content"
                 th:utext="${goods.getItemDetail()}">
            </div>
        </div>

    </div>
    <div class="btn-more">
        <button rel="btnMore" class="detail-more" type="button">
            <span>상품 자세히 보기</span>
            <i class="fa-solid fa-arrow-down-long"></i>
        </button>
    </div>
    <div class="review-menu" id="reviewMenu">
        <div class="review-title">
            <h2>Review</h2>
            <a>상품의 사용 후기를 적어주세요. </a>
        </div>
        <div class="review-result">
            <div> 이 상품을 구매한 사용자들의 구매 만족도</div>
            <div class="score-container">
                <div class="star-container" rel="starContainer">
                    <i class="star selected  fa-solid fa-star"></i>
                    <i class="star selected  fa-solid fa-star"></i>
                    <i class="star selected  fa-solid fa-star"></i>
                    <i class="star selected  fa-solid fa-star"></i>
                    <i class="star selected  fa-solid fa-star"></i>
                </div>
                <div class="score">
                    <span class="result-score" rel="score">4.9</span>
                    <span class="full-score">/5</span>
                </div>
            </div>
        </div>
        <div class="review-create" id="reviewCreate">
            <form id="reviewForm" class="review-form">
                <input type="hidden" name="itemIndex" th:value="${goods.getIndex()}">
                <input type="hidden" name="score" value="0">
                <input accept="image/*" multiple hidden type="file" name="images">

                <div class="score-container">
                    <span class="score" rel="score">-</span>
                    <span class="full-score">/5</span>
                    <span class="star-container" rel="starContainer">
                 <i class="star  fa-solid fa-star"></i>
                 <i class="star  fa-solid fa-star"></i>
                 <i class="star  fa-solid fa-star"></i>
                 <i class="star  fa-solid fa-star"></i>
                 <i class="star  fa-solid fa-star"></i>
            </span>
                </div>
                <div class="content-container">
                    <label class="label">
                        <span hidden>리뷰내용</span>
                        <input type="text" maxlength="100" name="content" placeholder="리뷰를 작성해주세요." class="input">
                    </label>
                    <input type="submit" value="작성" class="submit-button">
                </div>
                <div class="image-container" rel="imageContainer">
                    <div class="no-image" rel="noImage">선택된 이미지가 없습니다.</div>
                </div>
                <a rel="imageSelectButton" class="image-select-button" href="#">이미지 선택...</a>
            </form>
        </div>

        <div class="review-container" rel="reviewContainer">
            <div class="item">
                <div class="head">
                    <span class="nickname" name="userEmail">닉네임자리</span>
                    <span class="star-container" rel="starContainer">
                    <i class="star   fa-solid fa-star"></i>
                    <i class="star   fa-solid fa-star"></i>
                    <i class="star  fa-solid fa-star"></i>
                    <i class="star  fa-solid fa-star"></i>
                    <i class="star  fa-solid fa-star"></i>
                    </span>
                    <span class="date" rel="date">2022-01-01</span>
                    <span class="delete" id="delete">
                        <i class="icon fa-regular fa-circle-xmark"></i>
                    </span>
                </div>
                <div class="body">
                    <div class="content" rel="content">음 좃네요</div>
                    <div class="image-container" rel="imageContainer">
                        <img class="image"
                             src="https://i.pinimg.com/474x/ea/d4/08/ead408fe15be17b66d8474cd53a39d27.jpg"
                             alt="">
                        <img class="image"
                             src="https://i.pinimg.com/474x/ea/d4/08/ead408fe15be17b66d8474cd53a39d27.jpg"
                             alt="">
                    </div>
                </div>
            </div>

            <form class="modify-form" rel="modifyForm" id="modifyForm">
                <div class="score-container">
                    <span class="score" rel="score">-</span>
                    <span class="full-score">/5</span>
                    <span class="star-container" rel="starContainer">
                                <i class="star  fa-solid fa-star"></i>
                                <i class="star  fa-solid fa-star"></i>
                                <i class="star  fa-solid fa-star"></i>
                                <i class="star  fa-solid fa-star"></i>
                                <i class="star  fa-solid fa-star"></i>
                            </span>
                </div>

                <div class="content-container">
                    <label class="label">
                        <span hidden>리뷰내용</span>
                        <input type="text" maxlength="100" name="content" placeholder="리뷰를 작성해주세요."
                               class="input">
                    </label>
                    <input name="modifyButton" class="--object-button" type="submit" value="수정">
                </div>
            </form>


        </div>
    </div>


    </div>

    <div class="page-container" id="pageContainer">
        <a class="page">
            <i class="fa-solid fa-angles-left"></i>
        </a>

        <a class="page">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <a class="page">1</a>
        <a class="page">2</a>
        <a class="page">3</a>

        <a class="page">
            <i class="fa-solid fa-angle-right"></i>
        </a>
        <a class="page">
            <i class="fa-solid fa-angles-right"></i>
        </a>
    </div>

    </div>

    <div class="review-contact" id="reviewContact">
        <h2>브랜드 정보</h2>
        <table class="table" id="contactTable">
            <tbody>
            <tr>
                <th>판매자 고객센터</th>
                <td>
                    <a class="seller-contact"
                       th:text="${seller.getContactFirst() +'-'+ seller.getContactSecond() +'-'+ seller.getContactThird()}"></a>
                </td>
            </tr>

            <tr>
                <th>브랜드 홈페이지</th>
                <td>
                    <a class="seller-homepage" th:text="${seller.getHomePage()}"
                       th:href="${seller.getHomePage()}"></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</main>


</body>
</html>