<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> DIOS :: 상품 등록 </title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/goods/stylesheets/write.css}">
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/goods/scripts/write.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<main class="--main main">
    <div id="titleContainer">
        <b class="title">상품 등록</b>
    </div>
    <form id="form">
        <table id="goodsTable">
            <tr class="goods">
                <th>상품 분류</th>
                <td>
                    <select id="itemCategory" name="itemCategory">
                        <option value="" > 상품 종류를 선택해주세요. </option>
                        <option value="옷">의류</option>
                        <option value="용품/장비">용품/장비</option>
                        <option value="신발">신발</option>
                    </select>
                </td>
            </tr>
            <tr class="goodsName">
                <th>상품 이름</th>
                <td>
                    <input class="inputGoodsName" name="inputGoodsName" type="text" placeholder="상품의 이름을 입력하세요." maxlength="100">
                </td>
            </tr>
            <tr class="goodsBrand">
                <th>상품 브랜드</th>
                <td>
                    <select id="brandCategory" name="brandCategory">
                        <option value="" > 상품 브랜드를 선택해 주세요. </option>
                        <option value="나이키">나이키</option>
                        <option value="아디다스">아디다스</option>
                    </select>
                </td>
            </tr>
            <tr class="goodsPrice">
                <th>상품 가격</th>
                <td>
                    <input class="inputGoodsPrice" name="price" type="text" placeholder="상품의 가격을 입력하세요." maxlength="100">&nbsp&nbsp&nbsp원
                </td>
            </tr>
            <tr class="goodsOption">
                <th>상품 옵션</th>
                <td>
                    <div class="color">
                        <span class="colorText">색상</span>
                        <div class="colorBox">
                            <input class="newColor" name="newColor" placeholder="ex)  블랙, 그레이, 블루" type="text">
                        </div>
                        <div class="selectContainer">
                            <a class="selectText">COLOR</a>
                            <select class="colors" name="colors" id="colorOption" multiple>

                            </select>
                        </div>
                    </div>
                    <div class="size">
                        <span class="sizeText">사이즈</span>
                        <div class="sizeBox">
                            <input class="newSize" name="newSize" placeholder="ex)  230, 260, M, L, free size" type="text">
                        </div>
                        <div class="selectContainer">
                            <a class="selectText">SIZE</a>
                            <select class="sizes" name="sizes" id="sizeOption" multiple>

                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="goodsImage">
                <th>상품 대표사진</th>
                <td>
                    <label class="label" id="label">
                        <input accept="image/*" multiple hidden type="file" name="images">
                        <span hidden>대표 사진</span>
                        <a rel="imageSelectButton" class="image-select-button" href="#"> 이미지 선택... </a>
                        <div class="image-container" rel="imageContainer">
                            <img class="title-img" id="imgThumb"
                                 src="https://thumb.ac-illust.com/73/7387030e5a5600726e5309496353969a_t.jpeg">
                        </div>
                    </label>
                </td>
            </tr>
            <tr class="goodsDetail">
                <th>상품 상세 내용</th>
                <td>
                    <label class="label">
                        <span hidden>상세 내용</span>
                        <textarea class="--object-input input" maxlength="10000" name="detail"
                                  placeholder="추가로 기재할 내용이 있으면 입력하세요.(200자 내외)" type="text"></textarea>
                    </label>
                </td>
            </tr>
        </table>
        <div id="button">
            <div class="button-container" id="buttonContainer">
                <input class="--object-button left" name="back" type="button" value="돌아가기">
                <input class="--object-button right" rel="submit" type="button" value="등록하기">
            </div>
        </div>
    </form>
</main>
<footer class="--footer footer">

</footer>
</body>
</html>
