<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIOS STORE</title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <script src="https://kit.fontawesome.com/d6aa13913f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/store/resources/stylesheets/list.css}">
    <script defer th:src="@{/store/resources/scripts/list.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<main class="--main">
    <div class="category-container" id="categoryContainer">
        <ul class="category">
            <li class="--item" th:each=" categoring: ${category}">
                <span class="--link"
                      th:text="${categoring.getText()}"></span>
            </li>
        </ul>
    </div>
    <span class="input-container">
    <input onClick="location.href='http://localhost:8080/goods/write'"
           type="button" value="상품 등록하기"
           class="article-creation" id="articleCreation"
           th:if="${session.user!=null && session.user.isAdmin()}">
    </span>
    <div class="list-box" id="listBox">
        <ul class="search-list" id="searchList">
            <li class="li-box" th:each="item : ${goods}">
                <div class="li_inner">
                    <div class="image-container">
                        <a class="image-block"
                           th:href="@{/goods/read (gid=${item.getIndex()})}">
                            <img class="image-li"
                                 th:src="@{./titleImage (index=${item.getIndex()})}"
                                 th:alt="${item.getTitleImageName()}">
                        </a>
                    </div>
                    <div class="item-info">
                        <div class="seller">
                            <a th:text="${item.getBrandName()}"></a>
                        </div>
                        <div class="list-info">
                            <a th:href="@{/goods/read (gid=${item.getIndex()})}"
                               th:title="${item.getItemName()}"
                               th:text="${item.getItemName()}"></a>
                        </div>
                        <div class="price">
                            <a th:text="${#numbers.formatInteger(item.getPrice(), 0, 'COMMA')+' 원'}">12,900원</a>
                        </div>
                        <div class="rating-star">
                            <span class="star-container">
                                <i class="star filled fa-solid fa-star "></i>
                                <i class="star filled fa-solid fa-star "></i>
                                <i class="star filled fa-solid fa-star "></i>
                                <i class="star filled fa-solid fa-star "></i>
                                <i class="star filled fa-solid fa-star "></i>
                            </span>
                            <span class="review-count">75,165</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="page-container" id="pageContainer"
         th:with="urlBuilder = ${T(org.springframework.web.servlet.support.
                    ServletUriComponentsBuilder).fromCurrentRequest()}">
        <a th:if="${paging.requestPage > 1}"
           th:href="@{${urlBuilder.replaceQueryParam('page',paging.minPage).build().toUriString()}}"
           class="page">
            <i class="fa-solid fa-angles-left"></i>
        </a>
        <a th:if="${paging.requestPage > 1}"
           th:href="@{${urlBuilder.replaceQueryParam('page',(paging.requestPage)-1).build().toUriString()}}"
           class="page">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <a class="page"
           th:each="page:${#numbers.sequence(paging.startPage,paging.endPage)}"
           th:class="${'page '+(page == paging.requestPage?'selected':'')}"
           th:text="${page}"
           th:href="@{${urlBuilder.replaceQueryParam('page',page).build().toUriString()}}"></a>

        <a href="#" class="page"
           th:if="${paging.requestPage < paging.maxPage}"
           th:href="@{${urlBuilder.replaceQueryParam('page',(paging.requestPage)+1).build().toUriString()}}">
            <i class="fa-solid fa-angle-right"></i>
        </a>
        <a th:if="${paging.requestPage < paging.maxPage}"
           th:href="@{${urlBuilder.replaceQueryParam('page',paging.maxPage).build().toUriString()}}"
           class="page">
            <i class="fa-solid fa-angles-right"></i>
        </a>
    </div>

</main>
<th:block th:replace="~{fragments/commonBody :: footer}"></th:block>
</body>
</html>