<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ORDER</title>
    <script defer th:src="@{/store/resources/scripts/order.js}"></script>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/store/resources/stylesheets/order.css}">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<main class="--main main">
    <form class="form" id="form">
        <div class="content">
            <div class="title-container">
                <h1 class="title">주문/결제</h1>
                <ul class="step-list">
                    <li>
                         <span class="step-num one">
                          <a class="num">01</a>
                          <a class="text">장바구니</a>
                          </span>
                    </li>
                    <a class="blank"> > </a>
                    <li>
                        <span class="step-num two">
                       <a class="num">02</a>
                       <a class="text">주문/결제</a>
                      </span>
                    </li>
                    <a class="blank"> > </a>
                    <li>
                     <span class="step-num three">
                          <a class="num">03</a>
                          <a class="text">주문완료</a>
                     </span>
                    </li>
                </ul>
            </div>
            <div id="orderGoodsContainer">
                <a class="orderTitle"><i class="fa-regular fa-circle-check"></i> &nbsp DIOS 배송상품</a>
                <table class="orderTable">
                    <thead>
                    <tr class="tableHead">
                        <th class="info-title">상품정보</th>
                        <th class="pri-title">판매가</th>
                        <th class="count-title">수량</th>
                    </tr>
                    </thead>
                    <tbody id="orderContainer">
                    <tr class="tableBody">
                        <td class="info">
                            <div class="photo">
                                <input class="image" type="image" th:src="@{/resources/images/logo.png}">
                            </div>
                            <div class="info-content">
                                <div class="brand">나이키</div>
                                <div class="name">짱 멋진 신발</div>
                                <div class="option">옵션 | color: white, size: 240</div>
                            </div>
                        </td>
                        <td class="price">30,000원</td>
                        <td class="count">1</td>
                    </tr>
                    <tr class="tableBody">
                        <td class="info">
                            <div class="photo">
                                <input class="image" type="image" th:src="@{/resources/images/logo.png}">
                            </div>
                            <div class="info-content">
                                <div class="brand">아디다스</div>
                                <div class="name">짱 멋진 옷</div>
                                <div class="option">옵션 | color: gray, size: L</div>
                            </div>
                        </td>
                        <td class="price">32,000원</td>
                        <td class="count">1</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="userInfoContainer">
                <a class="infoTitle"><i class="fa-regular fa-circle-check"></i> &nbsp 배송지 정보</a>
                <table class="infoTable">
                    <tr class="name">
                        <th class="userName-container">받는분</th>
                        <td class="userName">
                            <a class="redStar">*</a>
                            <input hidden rel="name" th:value="${user.getName()}">
                            <input class="input nameInput" type="text" rel="nameText">
                            <input class="input check" type="checkbox" rel="sameButton" onclick="check(this)">
                            <a class="checkText">주문자 정보와 동일</a>
                        </td>
                    </tr>
                    <tr class="contact">
                        <th class="contact-container">연락처</th>
                        <td class="userContact">
                            <a class="redStar">*</a>
                            <input hidden rel="contact" type="text" th:value="${user.getContact()}">
                            <input class="input" type="text" rel="contactText">
                            <a class="contactText">'-' 를 제외하고 입력해 주세요.</a>
                        </td>
                    </tr>
                    <tr class="address">
                        <th class="address-container">주소</th>
                        <td class="userAddress" id="addressContainer">
                            <div class="top">
                                <a class="redStar">*</a>
                                <input hidden rel="addressPostal" type="text" th:value="${user.getAddressPostal()}">
                                <input class="input code" type="text" rel="addressPostalText">
                                <input class="input addressButton" rel="find" type="button" value="우편번호 찾기">
                            </div>
                            <div class="middle">
                                <input hidden rel="addressPrimary" type="text" readonly th:value="${user.getAddressPrimary()}">
                                <input class="input addressOne" type="text" readonly rel="addressPrimaryText">
                            </div>
                            <div class="bottom">
                                <input hidden rel="addressSecondary" type="text" th:value="${user.getAddressSecondary()}">
                                <input class="input addressTwo" type="text" rel="addressSecondaryText">
                            </div>
                            <div class="panel address" rel="addressFindPanel">
                                <div class="dialog" rel="addressFindPanelDialog"></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="message">
                        <th class="message-container">배송 메세지</th>
                        <td class="userMessage">
                            <select class="message" name="message">
                                <option value="">배송 메세지를 선택해주세요.</option>
                                <option value="학생">부재 시 경비실에 맡겨주세요.</option>
                                <option value="회사원">파손의 위험이 있는 상품이오니, 배송 시 주의해주세요.</option>
                                <option value="학생">배송 전에 연락주세요.</option>
                                <option value="회사원">택배함에 넣어주세요.</option>
                                <option value="기타">기타</option>
                            </select>
                            <div class="messageZone">
                                <input class="input" type="text">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="paymentContainer">
                <div class="payment-container one">
                    <a class="selectTitle"><i class="fa-regular fa-circle-check"></i> &nbsp 결제수단 선택</a>
                    <table class="selectContent">
                        <tr>
                            <th>결제수단</th>
                            <td>
                                <input class="radio" name="payment" type="radio" value="신용카드">신용카드
                                <input class="radio" name="payment" type="radio" value="무통장입금">무통장입금
                                <input class="radio" name="payment" type="radio" value="계좌이체">계좌이체
                                <br>
                                <input class="radio" name="payment" type="radio" value="카카오페이">카카오페이
                                <input class="radio" name="payment" type="radio" value="휴대폰결제">휴대폰결제
                            </td>
                        </tr>
                        <tr>
                            <th class="bank">은행명</th>
                            <td>
                                <select class="bankSelect" name="bankSelect">
                                    <option value="기업">기업</option>
                                    <option value="국민">국민</option>
                                    <option value="수협">수협</option>
                                    <option value="농협">농협</option>
                                    <option value="우리">우리</option>
                                    <option value="대구">대구</option>
                                    <option value="부산">부산</option>
                                    <option value="경남">경남</option>
                                    <option value="우체국">우체국</option>
                                    <option value="하나">하나</option>
                                    <option value="신한">신한</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="period">입금기한</th>
                            <td class="periodDate">2023.01.03</td>
                        </tr>
                        <tr>
                            <th class="deposit">입금자명</th>
                            <td class="depositName">DIOS</td>
                        </tr>
                    </table>
                </div>
                <div class="payment-container two">
                    <a class="paymentTitle"><i class="fa-regular fa-circle-check"></i> &nbsp 최종 결제정보</a>
                    <div class="paymentContent">
                        <div class="total">
                            <a class="totalText">총 상품금액</a>
                            <a class="totalCount" rel="price">0 원</a>
                        </div>
                        <div class="shipment">
                            <a class="shipmentText">배송비</a>
                            <a class="shippingCost" rel="delivery">0 원</a>
                        </div>
                        <div class="final">
                            <a class="finalText">최종 결제금액</a>
                            <a class="finalCost" rel="priceAll">0 원</a>
                        </div>
                        <div class="button-container">
                            <input class="payment" type="button" rel="payment" value="결제하기">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>