<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header class="--header" th:fragment="header">
    <div class="--content">
        <a class="--logo-container" th:href="@{/}">
            <img alt="logo" class="--logo" th:src="@{/resources/images/logo.png}">
        </a>
        <span class="--menu">
      <a href="#" class="--record">DIARY</a>
      <i class="fa-solid fa-chevron-down"></i>
    </span>
        <span class="--menu">
      <a class="--community" href="#">COMMUNITY</a>
      <i class="fa-solid fa-chevron-down"></i>
    </span>
        <span class="--menu shop">
      <a class="--shop" href="#">SHOP</a>
      <i class="icon fa-solid fa-chevron-down"></i>
    </span>

        <ul class="--menu item">
            <li class="--item" th:if="${session.user == null}">
                <a class="--link" th:href="@{/dios/login}">로그인</a>
            </li>

            <li class="--item" th:if="${session.user == null}">
                <a class="--link" th:href="@{/dios/register}">회원가입</a>
            </li>

            <li class="--item" th:if="${session.user !=null}">
                <a class="--link" th:href="@{/dios/logout}">로그아웃</a>
            </li>

            <li class="--item" th:if="${session.user !=null}">
                <a class="--link" th:href="@{/dios/myPage}">마이페이지</a>
            </li>
        </ul>

    </div>
</header>
<div class="--cover" id="cover" th:fragment="cover">
    <img alt="" class="--icon" th:src="@{/resources/images/loading.png}">
    <span class="--text" rel="text">무언가를 불러오고 있습니다. 잠시만 기다려 주세요.</span>
</div>
<footer class="--footer" th:fragment="footer">
    발
</footer>
</html>