<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header class="--header" th:fragment="header">
    <div class="--content">
        <a class="--logo-container" th:href="@{/}">
            <img alt="logo" class="--logo" th:src="@{/resources/images/logo.png}">
        </a>

        <span class="--menu">
      <div class="dropdown">
      <button class="dropbtn">
        <span class="--community dropbtn_icon"></span>
        DIARY
      </button>
      <div class="dropdown-content">

      </div>
    </div>
    </span>

        <span class="--menu">
    <div class="dropdown">
      <button class="dropbtn">
        <span class="--community dropbtn_icon"></span>
        COMMUNITY
      </button>
      <div class="dropdown-content">
          <a href="./list?bid=free">자유게시판</a>
          <a href="./list?bid=notice">공지사항</a>
          <a href="./list?bid=qna">Q&A</a>
      </div>
    </div>
    </span>
        <span class="--menu shop">
      <div class="dropdown">
      <button class="dropbtn">
        <span class="--community dropbtn_icon"></span>
        SHOP

      </button>
      <div class="dropdown-content">
        <a href="#">장바구니</a>
        <a href="#">주문내역</a>
        <a href="#">어쩌고저쩌고</a>
      </div>
    </div>
    </span>

        <ul class="--menu item">
            <li class="--item" th:if="${session.user == null}">
                <a class="--link" th:href="@{/dios/login}">로그인</a>
            </li>

            <li class="--item" th:if="${session.user == null}">
                <a class="--link" th:href="@{/dios/register}">회원가입</a>
            </li>

            <li class="--item" th:if="${session.user !=null}">
                <a class="--link" th:href="@{/dios/logout}">로그아웃</a>
            </li>

            <li class="--item" th:if="${session.user !=null}">
                <a class="--link" th:href="@{/dios/myPage}">마이페이지</a>
            </li>
        </ul>

    </div>
</header>
<div class="--cover" id="cover" th:fragment="cover">
    <img alt="" class="--icon" th:src="@{/resources/images/loading.png}">
    <span class="--text" rel="text">무언가를 불러오고 있습니다. 잠시만 기다려 주세요.</span>
</div>
<footer class="--footer" th:fragment="footer">
    발
</footer>
</html>