<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header class="--header" th:fragment="header">
    <div class="--content">
        <a class="--logo-container" th:href="@{/}">
            <img alt="logo" class="--logo" th:src="@{/resources/images/logo.png}" href="/">
        </a>


        <span class="--menu">
      <div class="dropdown">
      <button class="dropbtn">
        <span class="--community dropbtn_icon"></span>
        DIARY
      </button>
      <div class="dropdown-content">

      </div>
    </div>
    </span>

        <span class="--menu">
    <div class="dropdown">
      <button class="dropbtn">
        <span class="--community dropbtn_icon"></span>
        COMMUNITY
      </button>
      <div class="dropdown-content">
          <a href="/dios/list?bid=free">자유게시판</a>
          <a href="/dios/list?bid=notice">공지사항</a>
          <a href="/dios/list?bid=qna">Q&A</a>
      </div>
    </div>
    </span>
        <span class="--menu shop">
      <div class="dropdown">
      <button class="dropbtn">
        <span class="--community dropbtn_icon"></span>
        SHOP

      </button>
      <div class="dropdown-content">
        <a href="#">장바구니</a>
        <a href="#">주문내역</a>
        <a href="#">어쩌고저쩌고</a>
      </div>
    </div>
    </span>


        <ul class="--menu item">
            <li class="--item" th:if="${session.user == null}">
                <a class="--link" th:href="@{/dios/login}">로그인</a>
            </li>

            <li class="--item" th:if="${session.user == null}">
                <a class="--link" th:href="@{/dios/register}">회원가입</a>
            </li>

            <li class="--item" th:if="${session.user !=null}">
                <a class="--link" th:href="@{/dios/logout}">로그아웃</a>
            </li>

            <li class="--item" th:if="${session.user !=null}">
                <a class="--link" th:href="@{/dios/myPage}">마이페이지</a>
            </li>
        </ul>

    </div>
</header>
<div class="--cover" id="cover" th:fragment="cover">
    <img alt="" class="--icon" th:src="@{/resources/images/loading.png}">
    <span class="--text" rel="text">무언가를 불러오고 있습니다. 잠시만 기다려 주세요.</span>
</div>
<footer class="--footer" th:fragment="footer">
    <div class="home">
        <ul class="menu">


            <div class="footer-menu">
                <div class="menu-box">
                    <ul class="menu-list">
                        <li class="menu-title">고객지원</li>
                        <li class="menu-item">
                            <a href="/dios/list?bid=notice">공지사항</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">서비스 소개</a>
                        </li>
                    </ul>
                </div>


                <div class="customer-service">
                    <strong class="service-title">고객센터
                        <a href="tel:1588-0000" class="service-tel">
                            1588-0000
                        </a>
                    </strong>

                    <div class="service-time">
                        <div class="time-box">
                            <div class="time-term">
                                <a>운영시간 평일 11:00 - 18:00 (토∙일, 공휴일 휴무)</a>
                                <a>점심시간 평일 13:00 - 14:00</a>
                            </div>
                        </div>
                    </div>
                    <div class="service-qna">
                        <a href="/dios/list?bid=qna">자주 묻는 질문</a>
                    </div>
                </div>

            </div>
        </ul>
        <div class="sub-menu">
            <ul>
                <li class="small-menu">
                    <div class="box">
                        <a href="/" class="log">홈으로</a>
                        <a href="#">이용약관</a>
                        <a href="#">개인정보취급방침</a>
                        <a href="/dios/list?bid=qna">고객센터</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>




</footer>
</html>