<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&family=IBM+Plex+Sans+KR:wght@300;400&family=Josefin+Sans:wght@300&family=Open+Sans:ital@1&family=Rajdhani:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <script src="https://kit.fontawesome.com/71448d348e.js" crossorigin="anonymous"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
</th:block>
</html>