@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html{
    /*font-family: 'Gowun Dodum', sans-serif;*/
}

body {
    margin: 0;

    /*background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("09.jpg");*/
    background-size: cover;
    overflow: hidden;

    height: 100%;

    background-color: rgb(255, 255, 255);

}

body > .menu-container {
    align-items : flex-end;
    display : flex;
    flex-direction : row;
    justify-content: flex-end;

    margin-right: 3rem;
    margin-top: 1rem;

}

body > .menu-container > .home {
    color: rgb(70, 58, 35);
    font-size: 2.3rem;

    transition: all 0.2s linear;
}

body > .menu-container > .home:hover {
    transform: scale(1.4);
}

body > .main {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    height: 75vh;

    margin-top: 2rem;

    z-index: 999;
}

body > .main >.title-container {
    margin-bottom: 3rem;
}

body > .main >.title-container > .title > a {
    font-size: 3rem;
    font-weight: bold;

    color: rgb(0, 0, 0);

    position: relative;
    top: 20px;
    display: inline-block;
    /*animation: bounce .5s ease infinite alternate;*/
}

body > .main > .title-container > .title > .underline {
    text-decoration-line: underline;

    text-decoration-color: #e7b20d;
}

/*body > .main >.title-container > .title > a:nth-child(1) {*/
/*    animation-delay: .1s;*/
/*}*/

/*body > .main >.title-container > .title > a:nth-child(2) {*/
/*    animation-delay: .2s;*/
/*}*/

/*body > .main >.title-container > .title > a:nth-child(3) {*/
/*    animation-delay: .3s;*/
/*}*/

/*body > .main >.title-container > .title > a:nth-child(4) {*/
/*    animation-delay: .4s;*/
/*}*/

/*body > .main >.title-container > .title > a:nth-child(5) {*/
/*    animation-delay: .5s;*/
/*}*/

/*body > .main >.title-container > .title > a:nth-child(6) {*/
/*    animation-delay: .6s;*/
/*}*/

/*body > .main >.title-container > .title > a:nth-child(7) {*/
/*    animation-delay: .7s;*/
/*}*/

/*body > .main >.title-container > .title > a:nth-child(8) {*/
/*    animation-delay: .8s;*/
/*}*/

/*body > .main >.title-container > .title > a:nth-child(9) {*/
/*    animation-delay: .9s;*/
/*}*/

/*@keyframes bounce {*/
/*    100% {*/
/*        top: -20px;*/
/*        text-shadow: 0 1px 0 #CCC,*/
/*        0 50px 25px rgba(0, 0, 0, .2);*/
/*    }*/
/*}*/

#form {
    padding: 2rem 4rem 2rem 4rem;

    background-color: rgb(255, 255, 255);
    border: 0.06rem solid rgb(115, 112, 112);
    border-radius: 0.5rem;

    box-shadow: 4px 4px 7px 4px #4d4b4b;

    z-index: 999;
}

body > .main > .form > .select-container {
    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: center;

    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

body > .main > .form > .select-container > .select {

    border-top: 0.15rem solid rgb(147, 143, 143);
    border-bottom: 0.15rem solid rgb(147, 143, 143);
    border-radius: 0.4rem;

    margin-right: 0.5rem;

    font-weight: 300;
    font-size: 1.5rem;
    font-family: inherit;

    width: 12rem;
    height: 6rem;

    cursor: pointer;

    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.8s;

    /*background-image: linear-gradient(transparent 0%, rgb(91, 101, 101) 100%);*/
}

body > .main > .form > .select-container > .select.squat,
body > .main > .form > .select-container > .select.lunge,
body > .main > .form > .select-container > .select.plank {
    border-right: 0.15rem solid rgb(147, 143, 143);
}

body > .main > .form > .select-container > .select.squat {
    border-left: 0.15rem solid rgb(147, 143, 143);
}

body > .main > .form > .select-container > .select:hover,
body > .main > .form > .select-container > .select:focus,
body > .main > .form > .select-container > .select.selected {
    background-color: rgb(30, 28, 28);
    color: rgb(255, 255, 255);
    font-weight: 500;

    border: 0.2rem solid rgb(30, 28, 28);
}

body > .main > .form > .select-container > .warning {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);

    background-color: rgb(231, 178, 13);

    border-radius: 1rem;

    padding: 1rem 2rem 1rem 2rem;
    position: absolute;
    display: none;

    right: 15rem;
}

/* 말풍선 꼬리 만들기 */
body > .main > .form > .select-container > .warning:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 20px solid rgb(231, 178, 13);
    z-index: 0;
}

body > .main > .form > .select-container > .warning.visible {
    display: block;
}

body > .main > .form > .setting-container {
    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: center;

    margin-right: 2rem;
}

body > .main > .form > .setting-container > .text {
    font-size: 3rem;
    font-weight: 600;
    font-family: inherit;

    margin-right: 2rem;

    color: rgb(234, 201, 8);
}

body > .main > .form > .setting-container > .setting {
    width: 14rem;
    height: 3rem;

    border: 0.2rem solid rgb(231, 178, 13);
    border-radius: 0.4rem;

    padding-left: 0.5rem;
    margin-right: 2rem;

    font-size: 1.1rem;
    font-family: inherit;

    text-align: center;
}
body > .main > .form > .setting-container > .setting::-webkit-outer-spin-button,
body > .main > .form > .setting-container > .setting::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body > .main > .form > .setting-container > .setting:focus {
    outline: none;
}

body > .main > .form > .setting-container > .warning {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);

    background-color: rgb(231, 178, 13);

    border-radius: 1rem;

    padding: 1rem 2rem 1rem 2rem;
    position: absolute;
    display: none;

    margin-left: 35rem;
}

/* 말풍선 꼬리 만들기 */
body > .main > .form > .setting-container > .warning:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 20px solid rgb(231, 178, 13);
    z-index: 0;
}

body > .main > .form > .setting-container > .warning.visible {
    display: block;
}

body > .main > .form > .button-container {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
}

body > .main > .form > .button-container > .submit {
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(255, 255, 255);

    background-color: rgb(182, 16, 16);

    height: 4rem;
    width: 30rem;

    font-size: 2rem;

    border-radius: 1rem;
    box-shadow: black 3px 3px 3px 3px;

    cursor: pointer;

    transition: all 0.2s linear;
}

body > .main > .form > .button-container > .submit:hover {
    background-color: rgb(182, 16, 16);
    border: inset rgb(182, 16, 16);
    box-shadow: black 3px 3px 3px 3px;

    transform: scale(1.2);
}