<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIOS :: PUSH UP</title>
    <link rel="stylesheet" th:href="@{/records/resources/stylesheets/pushUp.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Gowun+Batang:wght@700&family=Gowun+Dodum&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Hanalei+Fill&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Hanalei+Fill&family=Rubik+Vinyl&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=East+Sea+Dokdo&family=Hanalei+Fill&family=Rubik+Vinyl&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/282afddd53.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <script defer th:src="@{/records/resources/scripts/pushUp.js}"></script>
</head>
<body>
<div class="top-container">
    <a class="title">PUSH UP</a>
    <a th:href="@{/}" class="icon fa-solid fa-house-chimney"></a>
</div>
<div class="main-container">
    <div class="cam-container" id="camContainer">
        <div>
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div class="count-container" id="countContainer">
        <div class="progress" id="progress">
            <input name="count" type="hidden" th:value="${goal}">
            <input class="count" type="hidden" id="label-container" rel="count">
            <input class="goal" type="hidden" rel="goal" th:data-goal="${goal}">
            <!-- Change data-value in svg element to impact progress -->
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" th:value="${goal}">
                <circle class="circleBase" r="45" cx="50" cy="50" />
                <circle r="45" cx="50" cy="50" />
                <!-- 282.78302001953125 is auto-calculated by path.getTotalLength() -->
                <path class="meterBase" d="M5,50a45,45 0 1,0 90,0a45,45 0 1,0 -90,0" stroke-linecap="round" stroke-linejoin="round" stroke-dashoffset="282.78302001953125" stroke-dasharray="282.78302001953125" />
                <path class="meter" d="M5,50a45,45 0 1,0 90,0a45,45 0 1,0 -90,0" stroke-linecap="round" stroke-linejoin="round" stroke-dashoffset="282.78302001953125" stroke-dasharray="282.78302001953125" />
                <!-- Value automatically updates based on data-value set above -->
                <text class="textOne" x="38" y="60" text-anchor="middle" dominant-baseline="central" font-size="12">0 개</text>
                <text class="textOne" x="65" y="60" text-anchor="middle" dominant-baseline="central" font-size="8" th:text="'/ ' + ${goal} + '개'"></text>
                <text class="textTwo" x="50" y="40" text-anchor="middle" dominant-baseline="central" font-size="15">0 %</text>
            </svg>
        </div>
    </div>
</div>
<div class="buttonContainer">
    <div class="bt one">
        <button class="button" type="button" onclick="init()">START</button>
    </div>
    <div class="bt two">
        <a rel="changeButton" class="button change">목표변경</a>
        <a rel="recordButton" class="button record">기록하기</a>
    </div>
</div>
<div id="congratulation" rel="congratulation">
    <div class="success">
        <div class="successText">SUCCESS !</div>
        <div class="button-container">
            <a rel="goRecord" class="button one">RECORD</a>
            <a class="button two" th:href="@{/}">
                <i class="icon fa-solid fa-house-chimney"></i>
                EXIT
            </a>
        </div>
    </div>
    <div id="pang">
        <h1 hidden></h1>
    </div>
</div>

<div id="stop" rel="stop">
    <div class="stop-container">
        <div class="stopText">기록하시겠습니까?</div>
        <div class="button-container">
            <a rel="stopRecord" class="button one">RECORD</a>
            <a rel="continue" class="button two">CONTINUE</a>
        </div>
    </div>
</div>

<div id="change" rel="change">
    <div class="change-container">
        <div class="changeText">
            <a>목표를 변경하시겠습니까?</a>
            <a>( 목표 변경 시, 현재까지 기록 된 스쿼트 개수는 사라집니다. )</a>
        </div>
        <div class="button-container">
            <a rel="changeCount" class="button one">SETTING</a>
            <a rel="continueRecord" class="button two">CONTINUE</a>
        </div>
    </div>
</div>
</body>
</html>

