<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>목표 설정</title>
    <link rel="stylesheet" th:href="@{/records/resources/stylesheets/setting.css}">
    <script defer th:src="@{/records/resources/scripts/setting.js}"></script>
    <script src="https://kit.fontawesome.com/282afddd53.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Gowun+Batang:wght@700&family=Gowun+Dodum&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Hanalei+Fill&display=swap"
          rel="stylesheet">
</head>
<body onload="slideShow()">

<input class="backgroundImg slide" type="image" th:src="@{/resources/images/lunge.jpg}">
<input class="backgroundImg slide" type="image" th:src="@{/resources/images/lunge3.jpg}">
<input class="backgroundImg slide" type="image" th:src="@{/resources/images/plank.jpg}">
<input class="backgroundImg slide" type="image" th:src="@{/resources/images/plank3.jpg}">

<div class="menu-container">
    <a class="home" th:href="@{/dios/home}">
        <i class="fa-solid fa-house-chimney"></i>
    </a>
</div>
<div class="main">
    <div class="title-container">
        <div class="title">
            <a class="underline">목표</a>
            <a>를&nbsp</a>
            <a>설</a>
            <a>정</a>
            <a>하</a>
            <a>세</a>
            <a>요</a>
            <a>!</a>
        </div>
    </div>
    <form class="form" id="form">
        <div class="select-container">
            <input class="select squat" rel="squat" type="button" value="스쿼트
squat">
            <input class="select lunge" rel="lunge" type="button" value="런지
lunge">
            <input class="select plank" rel="plank" type="button" value="플랭크
plank">
            <span class="warning" rel="selectWarning">선택하세요!</span>
        </div>
        <div class="setting-container">
        <span class="text">
            <i class="fa-solid fa-trophy"></i>
        </span>
            <input class="setting" name="setting" type="number" placeholder="목표 개수를 입력하세요.">
            <span class="warning" rel="warning">입력하세요!</span>
        </div>
        <div class="button-container">
            <input name="submit" class="submit" type="button" value="START">
        </div>
    </form>
</div>
</body>
</html>