@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.--main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.--main > .title_box {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.--main > .title_box > .item-title-img > img {
    margin-left: 3rem;
    margin-top: 4rem;
    width: 30rem;
    height: 35rem;
    border-radius: 0.08rem;
}

.--main > .title_box > .item-info {
    margin-left: 2rem;
}
.--main>.function{
    margin-top: 0.5rem;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5rem;
}
#itemInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#itemInfo > .info-title > .brand {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}

#itemInfo > .info-title > .brand > .item-content {

    border-top: 0.0625rem solid rgb(213, 216, 218);
    border-bottom: 0.0625rem solid rgb(213, 216, 218);
    width: 45rem;
    padding: 0.625rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#table {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-spacing: 2rem;
    width: 35rem;
    border-top: 0.0625rem solid rgb(213, 216, 218);
    border-bottom: 0.0625rem solid rgb(213, 216, 218);
}

#title,
#itemDelete{
    margin-right: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    text-decoration: none;
}

#title:hover,
#itemDelete:hover{
    font-weight: bold;
}

#title>.text,
#itemDelete>.text{
    font-size: 1rem;
    color: rgb(0,0,0);
    cursor: pointer;
}

select {
    width: 12rem;
    padding: 0.3rem;
    border: 0.0625rem solid #999;
    border-radius: 0.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
}

#logoContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logoContainer > .logo {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.0625rem solid rgb(0, 0, 0);
    border-radius: 10rem;
    margin-right: 0.2rem;
}


#logoContainer > .brand {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-align: center;
}

.--main > .title_box {
    padding-bottom: 3rem;
    margin-bottom: 13rem;
    border-bottom: 0.0625rem solid rgb(213, 216, 218);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.--main > .menu-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.--main > .menu-container > .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.--main > .menu-container > .menu > .--item {
    text-decoration: none;
    margin-right: 1rem;
    padding-right: 0.5rem;
    border-right: 0.0625rem solid rgb(213, 216, 218);
}

.--main > .menu-container > .menu > .--item.contact {
    border-right: none;
}

.--main > .menu-container > .menu > .--item > .--link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.--main > .detail-container > .content-container {
    margin-bottom: 2rem;
    padding-bottom: 2.5rem;
    border-bottom: 0.0625rem solid rgb(213, 216, 218);
}

.--main > .detail-container > .content-container > .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*max-height:  30rem;*/
}

.--main > .detail-container > .content-container > .content.visible {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.--main > .btn-more {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.--main > .btn-more > .detail-more {
    background-color: rgb(255, 255, 255);
    width: 45rem;
    height: 6rem;
}


.--main > .btn-more > .detail-more > span,
.--main > .btn-more > .detail-more > i {
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

/*.showStep1{*/
/*    max-height: 50rem;*/
/*    overflow: hidden;*/
/*}*/
/*.showStep2{*/
/*    max-height: 100rem;*/
/*    overflow: hidden;*/
/*}*/
/*.content{*/
/*    height: 1000px;*/
/*    background-color: rgb(153, 227, 167);*/
/*}*/
/*.hide{*/
/*    display: none;*/
/*}*/

/*리뷰 뽀려온 것*/
#reviewForm{

    padding: 1.25rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



#modifyForm{
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reviewForm > .content-container ,
#modifyForm >.modify > .content-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#reviewForm > .content-container > .label,
#modifyForm >.modify> .content-container > .label
{
    flex: 1;
    margin-right: 0.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#reviewForm > .content-container > .label > .input ,
#modifyForm >.modify > .content-container > .label > .input {

    appearance: none;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.25rem;
    font: inherit;
    outline: none;
    padding: 0.75rem 0.875rem;
}

#reviewForm > .content-container > .submit-button,
#modifyForm >.modify > .content-container > .submit-button
{
    appearance: none;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.25rem;
    font: inherit;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 0 0.875rem;
    cursor: pointer;

}

#reviewForm > .content-container > .submit-button:hover,
#modifyForm >.modify> .content-container > .submit-button:hover
{
    filter: brightness(110%);
}


#reviewForm > .content-container > .submit-button:active ,
#modifyForm >.modify > .content-container > .submit-button:active {
    filter: brightness(95%);
}

#reviewForm > .image-container ,
#modifyForm >.modify > .image-container {

    background-color: rgb(234, 236, 238);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    overflow: auto hidden;
    padding: 0.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#reviewForm > .image-container::-webkit-scrollbar {
    height: 0.5rem;
}

#reviewForm > .image-container::-webkit-scrollbar-track {
    background-color: transparent;
}

#reviewForm > .image-container::-webkit-scrollbar-thumb {
    background-color: rgb(39, 55, 70);
    border-radius: 999rem;
}

#reviewForm > .image-container > .image {
    width: 33.3%;
    aspect-ratio: 16 /9;
    cursor: pointer;
    border: 0.0625rem solid rgb(234, 236, 238);
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
}

#reviewForm > .image-select-button {
    color: rgb(52, 152, 219);
    text-decoration: none;
}

#reviewForm > .image-select-button:hover {
    text-decoration: underline;

}

#reviewForm > .image-container > .no-image {
    color: rgb(128, 139, 150);
    flex: 1;
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
}


#reviewForm > .image-container > .no-image.hidden {
    display: none;
}

#reviewForm > .image-container > .no-image.visible {
    display: flex;
}

#reviewForm > .score-container {
    margin-top: 0.5rem;
    background-color: rgb(234, 236, 238);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0.75rem 1rem;

    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#reviewForm > .score-container > .score ,
#modifyForm >.modify > .score-container > .score {
    color: rgb(211, 84, 0);
    font-size: 1.375rem;
    font-weight: 600;
}

#reviewForm > .score-container > .full-score ,
#modifyForm >.modify > .score-container > .full-score {
    color: rgb(128, 139, 150);
    font-size: 0.9rem;
}

#reviewForm > .score-container > .star-container > .star ,
#modifyForm >.modify > .score-container > .star-container > .star {
    cursor: pointer;
}

#reviewForm > .score-container > .star-container > .star.selected,
#modifyForm >.modify > .score-container > .star-container > .star.selected,
#reviewMenu > .review-result > .score-container > .star-container > .star.selected {
    color: rgb(211, 84, 0);

}


#reviewForm > .score-container > .star-container ,
#modifyForm >.modify > .score-container > .star-container {
    color: rgb(213, 216, 220);
    flex: 1;
    font-size: 1.375rem;
    letter-spacing: -0.125rem;
    margin-left: 0.5rem;
    text-align: right;
    margin-bottom: 1rem;
}

#reviewMenu > .review-result {
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reviewMenu > .review-result > .score-container > .score {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#reviewMenu > .review-result > .score-container > .score > .result-score {
    font-size: 3.5rem;
}

#reviewMenu > .review-result > .score-container > .score > .full-score {
    font-size: 1.5rem;
}

#reviewMenu > .review-result > .score-container > .star-container {
    color: rgb(213, 216, 220);
    flex: 1;
    font-size: 3rem;
    letter-spacing: -0.125rem;
    margin-left: 0.5rem;
    text-align: right;
}

#reviewCreate {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    /*width: 50rem;*/
    /*height: 15rem;*/
    background-color: rgb(234, 236, 238);
    margin-bottom: 2rem;
}

#reviewForm>.image{
    width: 30rem;
    height: 20rem;
}
#reviewMenu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 0.0625rem solid rgb(213,216,218);
    border-bottom: 0.0625rem solid rgb(213,216,218);
    margin-top: 1.5rem;
    padding-bottom: 1rem;

}
#reviewMenu >.review-title{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reviewMenu > .review-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#reviewMenu > .review-container > .item {
    /*border-bottom: 0.0625rem solid rgb(213, 216, 218);*/
    margin-bottom: 1rem;
    border: 0.0625rem solid rgb(213,216,218);
    border-radius: 1rem;
    width: 40rem;

}

#reviewMenu > .review-container > .item > .head {
    height: 1.8rem;
    background-color: rgb(213, 216, 218);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#reviewMenu > .review-container > .item > .body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

#reviewMenu > .review-container > .item > .head > .nickname {
    margin-left: 0.6rem;
    margin-right: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#reviewMenu > .review-container > .item > .head > .star-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 14rem;
}


#reviewMenu > .review-container > .item > .head > .star-container>.star {
    font-size: 0.8rem;
    color: rgb(189, 195, 199);
}
#reviewMenu > .review-container > .item > .head > .star-container>.star.filled {
    font-size: 0.8rem;
    color: rgb(241, 196, 15);
}
#reviewMenu > .review-container > .item > .head > .date {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8rem;
    margin-right: 3rem;
}
#reviewMenu > .review-container > .item > .head > .delete >.icon ,
#reviewMenu > .review-container > .item > .head > .modify >.icon {
    font-size: 1.26rem;
    cursor: pointer;
}

#reviewMenu > .review-container > .item >.body> .content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
#reviewMenu > .review-container > .item >.body> .image-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 25rem;
    /*border: 0.0625rem solid rgb(213,216,218);*/
}

#reviewMenu > .review-container > .item >.body> .image-container >.image{
    border-radius: 0.15rem;
    margin: 0.5rem;
    width: 10rem;
    height: 10rem;
}

#reviewContact>h2{
    margin-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#contactTable {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-spacing: 2rem;

    border-top: 0.0625rem solid rgb(213, 216, 218);
    border-bottom: 0.0625rem solid rgb(213, 216, 218);
}

#contactTable>tbody>tr>td>.seller-homepage {
    text-decoration: none;
    color: rgb(0,0,0);
}
#contactTable>tbody>tr>td>.seller-homepage:hover {
    text-decoration: underline;
}

#contactTable>tbody>tr>td>.seller-homepage:focus {
    color: rgb(213,216,218);
}

/*#modifyForm{*/
/*    padding: 1.25rem;*/

/*    align-items: stretch;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*}*/

#modify{
    align-items: stretch;
    display: none;
    flex-direction:column;
    justify-content: flex-start;
}

#modify.visible{
    display: flex;
}

#result{
    padding: 0.5rem;
    align-items: center;
    display: none;
    flex-direction: row;
    justify-content: center;

    border-bottom: 0.0625rem solid rgb(213,216,218);
    margin-bottom: 0.5rem;
}

#result.visible{
    display: flex;
}

#result >.item-summary{
    margin-right: 3.5rem;
}

#itemInfo>.button-container{

}

#itemInfo>.button-container>.cart-button,
#itemInfo>.button-container>.order-button
{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    border-radius: 0.2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 1rem;

}

#itemInfo>.button-container>.cart-button:hover,
#itemInfo>.button-container>.order-button:hover{
    background-color: rgb(213,216,218);
    color: rgb(0,0,0);
}

