@charset "UTF-8";

body>.main>.content{
    margin: 3.5rem 0;
    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
}

body>.main>.content>.title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.5rem;

}

#form>.table .warning-row{
    display: none;
}
#form>.table .warning-row.visible{
    display: table-row;
}
#form>.table .warning-row .warning{
    background-color: rgb(231,76,60);
    border-radius: 0.375rem;
    color: rgb(255,255,255);
    font-size: 1rem;
    margin-top: 0.25rem;
    padding: 1rem 1.25rem;
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
}

#form>.table .button-container{
    align-items: stretch;
    display: flex;
    flex-direction: row ;
    justify-content:flex-start;
    margin-top: 0.25rem;
}

#form>.table .button-container>[name="back"]{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    margin-right: 35rem;
    border-radius: 2rem;
    height: 2.65rem;
    width: 6rem;
}

#form>.table .button-container>[name="submit"]{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    border-radius: 2rem;
    height: 2.65rem;
    width: 6rem;
}

#table{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content:flex-start;
    border-spacing: 1.25rem;
}

#inputTitle,
#inputSeller,
#inputPrice
{
    width:15rem;
    height:2rem;
    font-size:1rem;
}
#inputCount{
    width: 8.6rem;
    height: 2rem;
    font-size: 1rem;
    margin-left: 0.65rem;
    margin-right: 0.65rem;

}
#inputPlus{
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    border-radius: 0.7rem;
    text-align: center;
}
#table>tbody>tr>th,
#table>tbody>tr>th>td
{
    font-size: 1.25rem;
    size: 1.25rem;
}
#table>tbody>tr>.option>.label{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content:flex-start;
}
#table>tbody>tr>.button{
    align-items: stretch;
    display: flex;
    flex-direction: row ;
    justify-content:flex-start;
}

#form > .table .warning-row .warning>.icon {
    font-size: 1.5rem;
    margin: 0 1rem 0 0.5rem;
}
#form > .table .warning-row .warning>.text
{
    flex: 1;
    text-align: justify;
    font-size: 1.15rem;
}

.ck-editor__editable{
    height: 500px;
}



#label>.image-container>.image{
    width: 10rem;
    height: 10rem;
    aspect-ratio: 16 /9;
    cursor: pointer;
    border: 0.0625rem solid rgb(234,236,238);
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
}

#label>.image-select-button{
    color: rgb(87, 88, 89);
    text-decoration: none;
}

#label>.image-select-button:hover{
    color: rgb(0,0,0);
    text-decoration: underline;
}

#label > .image-container>.title-img{
    color: rgb(128,139,150);
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    width: 23rem;
    height: 21rem;
}


#label > .image-container>.title-img.hidden{
    display: none;
}

#label > .image-container>.title-img.visible{
    display: flex;
}

select{
    width:13rem;
    padding:0.25rem;
    border:0.0625rem solid #999;
    border-radius:0.1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance : none;
    font-size: 0.8rem;
}

#SizeOption{
    display: none;
}

#SizeOption.visible{
    display: flex;
}
