@charset "UTF-8";

body > .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2rem;

    font-family: none;
}

#titleContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-bottom: 0.25rem solid rgb(0, 0, 0);

    width: 100%;
    max-width: 80rem;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

#titleContainer > .title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#goodsTable {
    width: 80vw;
    margin-top: 2rem;

    border: 0.14rem solid #d6d6d6;
    border-spacing: 0;
}

#goodsTable tr th {
    width: 20%;

    background-color: #e6e6e6;

    border-bottom: 0.0625rem solid #ccc;
    padding: 1.4rem 2rem 1.4rem 2rem;
}

#goodsTable tr td {
    border-bottom: 0.0625rem solid #ccc;
    padding: 1.4rem 2rem 1.4rem 3rem;
}

input {
    height: 1.5rem;
    width: 15rem;

    border-radius: 0.2rem;
    border: 0.08rem solid rgb(162, 158, 158);

    padding-left: 0.7rem;
}

input:focus {
    outline: none;
}

select {
    height: 1.9rem;
    width: 15.6rem;

    border-radius: 0.2rem;
    border: 0.08rem solid rgb(162, 158, 158);

    padding-left: 0.5rem;
}

#goodsTable .goodsOption td > .color,
#goodsTable .goodsOption td > .size {
    border-bottom: 0.0625rem solid #ccc;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 1rem 1rem 2rem 1rem;
    height: 10rem;
}

#goodsTable .goodsOption td > .size {
    border-bottom: none;
    padding: 2rem 1rem 1rem 1rem;
}

#goodsTable .goodsOption td > .color > .colorText,
#goodsTable .goodsOption td > .size > .sizeText {
    font-weight: bold;
    font-size: 0.9rem;

    margin-right: 1rem;
}

#goodsTable .goodsOption td > .color > .colorBox,
#goodsTable .goodsOption td > .size > .sizeBox {
    align-items : flex-end;
    display : flex;
    flex-direction : column;
    justify-content: flex-end;
}

#goodsTable .goodsOption td > .color > .colorBox > .newColor,
#goodsTable .goodsOption td > .size > .sizeBox > .newSize {
    margin-right: 3rem;
}

#goodsTable .goodsOption td > .color > .selectContainer,
#goodsTable .goodsOption td > .size > .selectContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#goodsTable .goodsOption td > .color > .selectContainer > .selectText,
#goodsTable .goodsOption td > .size > .selectContainer > .selectText {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(62, 105, 59);

    margin-bottom: 0.2rem;
}

#goodsTable .goodsOption td > .color > .selectContainer > .colors,
#goodsTable .goodsOption td > .size > .selectContainer > .sizes {
    width: 10rem;
    height: 10rem;

    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;

    border: 0.17rem solid rgb(62, 105, 59);
}

#goodsTable .goodsOption td > .color > .selectContainer > .colors > option,
#goodsTable .goodsOption td > .size > .selectContainer > .sizes > option {
    background-color: rgb(210, 229, 210);
    margin-bottom: 0.2rem;

    padding: 0.3rem 0.3rem 0.3rem 0.3rem;

    text-align: center;
    font-size: 0.87rem;
    font-weight: bold;
}

#goodsTable .goodsImage td label > .image-select-button {
    font-weight: bold;
    font-size: 0.9rem;
}

#goodsTable .goodsImage td label > .image-container {
    margin-top: 1rem;

    width: 20rem;
    height: 20rem;

    border: 0.2rem solid rgb(147, 143, 143);

    overflow: hidden;
}

#goodsTable .goodsImage td label > .image-container > .title-img {
    height: 20rem;
}

#goodsTable .goodsDetail td > .label > .input {
    width: 35rem;
    height: 10rem;

    padding: 2rem 2rem 2rem 2rem;

    font-size: 1.1rem;
}

#goodsTable .goodsDetail td > .label > .input:focus {
    outline: none;
}


#button {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 2.5rem;
}

#button > .button-container > .--object-button {
    width: 8.5rem;
    height: 2.4rem;

    color: rgb(255, 255, 255);
    font-size: 1.05rem;

    background-color: rgb(62, 105, 59);

    border-radius: 0.3rem;
    border: 0.1rem solid rgb(62, 105, 59);

    cursor: pointer;
}

#button > .button-container > .--object-button:hover {
    background-color: rgb(47, 82, 45);
}

#button > .button-container > .right {
    margin-left: 0.5rem;
}


.footer {
    margin-bottom: 10rem;
}