@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.--main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#categoryContainer {
    background-color: rgb(255, 255, 255);
    padding-top: 4rem;

    font-family: none;

    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: center;
}

#categoryContainer > .category {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

#categoryContainer > .category > .--item {
    list-style: none;
    text-decoration: none;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    text-align: center;

    cursor: pointer;
    border-right: 0.025rem solid rgb(0, 0, 0);

    color: rgb(147, 143, 143);
    font-size: 1.1rem;
    font-weight: bold;
}

#categoryContainer > .category > .--item:last-of-type {
    border-right: none;
}

#categoryContainer > .category > .--item > .--link {
    text-decoration: none;
    list-style: none;

    color: rgb(147, 143, 143);
    font-size: 1.1rem;
}

#categoryContainer > .category > .--item > .--link:hover,
#categoryContainer > .category > .--item > .--link:focus {
    color: rgb(0, 0, 0);
}

#searchList {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, 32rem);
    grid-template-columns: repeat(3, 25rem);

}

#searchList > .li-box {
    margin: 0.5rem;
}

#listBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#listBox > .search-list {
    list-style: none;
}

#listBox > .search-list > .li-box {
    text-align: center;
    border: 0.0625rem solid rgb(213, 216, 218);

    height: 31rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

#listBox > .search-list > .li-box > .li_inner {
    cursor: pointer;

    margin-bottom: 5rem;
}

#pageContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#listBox > .search-list > .li-box > .li_inner > .image-container {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    margin-top: 1rem;
}

#listBox > .search-list > .li-box > .li_inner > .image-container > .image-block {
    overflow: hidden;

    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    width: 20rem;
    height: 19rem;
}

#listBox > .search-list > .li-box > .li_inner > .image-container > .image-block > .image-li {
    padding-top: 0.65rem;

    width: 20rem;
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .list-info > a,
#listBox > .search-list > .li-box > .li_inner > .item-info > .seller > a,
#listBox > .search-list > .li-box > .li_inner > .item-info > .price > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* 리스트 요소 */
#listBox > .search-list > .li-box > .li_inner > .item-info {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .list-info {
    max-width: 85%;

    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    margin-bottom: 1rem;
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .list-info > a {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;

    font-family: none;
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .seller {
    margin-top: 1rem;
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .seller > a {
    font-size: 0.9rem;
    color: rgb(91, 89, 89);
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .price {
    margin-bottom: 1rem;
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .price > a {
    font-family: none;
    font-size: 0.9rem;
    color: rgb(87, 85, 85);
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .rating-star {
    margin-bottom: 1rem;
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .rating-star > .star-container {
    margin-right: 1rem;
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .rating-star > .star-container > .star {
    color: rgb(244, 208, 63);
}

#listBox > .search-list > .li-box > .li_inner > .item-info > .rating-star > .review-count {
    font-size: 1.1rem;
    font-family: none;
    font-weight: bold;
    color: rgb(192, 57, 43);
}


/* 페이징 */
#pageContainer > .page {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-left: 0.0625rem solid rgb(76, 91, 105);
    color: inherit;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

#pageContainer > .page:last-of-type {
    border-right: 0.0625rem solid rgb(76, 91, 105);
}

#pageContainer > .page.selected,
#pageContainer > .page:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.--main > .input-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.--main > .input-container > .article-creation {
    height: 2.65rem;
    width: 8rem;

    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-size: 0.9rem;

    cursor: pointer;
}

.--main > .input-container > .article-creation:hover {
    background-color: rgb(91, 88, 88);
}