@charset "UTF-8";

body > .main {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
}
#form {
    align-items : center;
    display : flex;
    flex-direction : column;
    justify-content: center;

    margin-bottom: 10rem;
    font-family: none;
}

#form > .content > .title-container {
    margin-top: 3rem;

    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content: center;

    min-width: 80vw;

    border-bottom: 0.25rem solid rgb(0, 0, 0);

    font-family: none;
}

#form > .content > .title-container > .title {
    display: flex;
    align-items: flex-start;
    flex: 1;
    font-size: 2.2rem;
}

#form > .content > .title-container > .step-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

#form > .content > .title-container > .step-list > li > .one {
    font-size: 1rem;
    color: rgb(157, 152, 152);
}

#form > .content > .title-container > .step-list > li > .three {
    font-size: 1rem;
    color: rgb(157, 152, 152);
}

#form > .content > .title-container > .step-list > .blank {
    margin-left: 1rem;
    margin-right: 1rem;
}


#orderGoodsContainer {
    align-items : flex-start;
    display : flex;
    flex-direction : column;
    justify-content: center;

    margin-top: 3rem;
}

#orderGoodsContainer > .orderTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1.25rem;
    color: rgb(86, 81, 81);
}

#orderGoodsContainer > .orderTable {
    min-width: 80vw;

    border-top: 0.14rem solid #d6d6d6;
    border-spacing: 0;
}

#orderGoodsContainer > .orderTable > thead > .tableHead > th {
    height: 2.2rem;
    background-color: #fafafa;
    color: rgb(69, 73, 73);

    border-bottom: 0.0625rem solid #ccc;
}

#orderGoodsContainer > .orderTable > thead > .tableHead > .info-title {
    width: 80%;
}

#orderGoodsContainer > .orderTable > thead > .tableHead > .pri-title {
    width: 13%;
}

#orderGoodsContainer > .orderTable > tbody > .tableBody > td {
    border-bottom: 0.0625rem solid #ccc;

    text-align: center;
}


#orderGoodsContainer > .orderTable > tbody > .tableBody > .info {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;

    border-right: 0.0625rem solid #e3e1e1;
    text-align: left;

    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
}

#orderGoodsContainer > .orderTable > tbody > .tableBody > .info > .photo {
    margin-right: 3rem;
    margin-left: 2rem;

    overflow: hidden;
    width: 8rem;
    height: 8rem;
}

#orderGoodsContainer > .orderTable > tbody > .tableBody > .info > .photo > .image {
    width: 8rem;
}

#orderGoodsContainer > .orderTable > tbody > .tableBody > .info > .info-content > .brand {
    color: rgb(128, 125, 125);

    font-weight: bold;
    font-size: 0.95rem;

    margin-bottom: 0.2rem;
}

#orderGoodsContainer > .orderTable > tbody > .tableBody > .info > .info-content > .name {
    font-size: 1.15rem;

    margin-bottom: 0.2rem;
}

#orderGoodsContainer > .orderTable > tbody > .tableBody > .info > .info-content > .option {
    color: rgb(128, 125, 125);

    font-weight: bold;
    font-size: 0.9rem;
}

#orderGoodsContainer > .orderTable > tbody > .tableBody > .price {
    border-right: 0.0625rem solid #e3e1e1;
}



#userInfoContainer {
    align-items : flex-start;
    display : flex;
    flex-direction : column;
    justify-content: center;

    margin-top: 3rem;
}

.redStar {
    color: red;
    font-size: 1.2rem;
}

.input {
    border-radius: 0.3rem;
    border: 0.12rem solid rgb(190, 184, 184);

    height: 1.5rem;

    padding-left: 0.5rem;
}

#userInfoContainer > .infoTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1.25rem;
    color: rgb(86, 81, 81);
}

#userInfoContainer > .infoTable {
    min-width: 80vw;

    border-top: 0.14rem solid #d6d6d6;
    border-spacing: 0;
}

#userInfoContainer > .infoTable tr th {
    background-color: #e6e6e6;

    padding: 1rem 1rem 1rem 1rem;
    width: 18%;

    border-bottom: 0.0625rem solid #ccc;
}

#userInfoContainer > .infoTable tr td {
    border-bottom: 0.0625rem solid #ccc;

    padding: 1.5rem 2rem 1.5rem 2rem;
}

#userInfoContainer > .infoTable tr .userName {
    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
}

#userInfoContainer > .infoTable tr .userName > .redStar {
    margin-right: 0.6rem;
}

#userInfoContainer > .infoTable tr .userName > .nameInput {
    margin-right: 1.4rem;
}

#userInfoContainer > .infoTable tr .userName > .check,
#userInfoContainer > .infoTable tr .userName > .checkText {
    font-size: 0.9rem;
}

#userInfoContainer > .infoTable tr .userName > .check {
    margin-right: 0.5rem;
}

#userInfoContainer > .infoTable tr .userContact {
    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
}

#userInfoContainer > .infoTable tr .userContact > .redStar {
    margin-right: 0.6rem;
}

#userInfoContainer > .infoTable tr .userContact > .input {
    width: 10rem;
    margin-right: 0.4rem;
}

#userInfoContainer > .infoTable tr .userContact > .contactText {
    font-size: 0.9rem;
    margin-left: 0.7rem;

    color: rgb(147, 143, 143);
}

#userInfoContainer > .infoTable tr .userAddress {
    align-items : flex-start;
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
}

#userInfoContainer > .infoTable tr .userAddress > .top {
    margin-bottom: 0.4rem;
}

#userInfoContainer > .infoTable tr .userAddress > .top > .redStar {
    margin-right: 0.4rem;
}

#userInfoContainer > .infoTable tr .userAddress > .top > .code {
    width: 5rem;
}

#userInfoContainer > .infoTable tr .userAddress > .top > .addressButton {
    height: 1.8rem;
    background-color: #e6e6e6;
    color: rgb(128, 125, 125);

    font-weight: bold;

    cursor: pointer;
}

#userInfoContainer > .infoTable tr .userAddress > .top > .addressButton:hover {
    background-color: rgb(211, 207, 207);
}

#userInfoContainer > .infoTable tr .userAddress > .middle {
    margin-left: 1.1rem;
    margin-bottom: 0.4rem;
}

#userInfoContainer > .infoTable tr .userAddress > .middle > .addressOne {
    width: 30rem;
    height: 4rem;
}

#userInfoContainer > .infoTable tr .userAddress > .bottom {
    margin-left: 1.1rem;
}

#userInfoContainer > .infoTable tr .userAddress > .bottom > .addressTwo {
    width: 30rem;
}

#userInfoContainer > .infoTable tr .userMessage {
    align-items : flex-start;
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
}

#userInfoContainer > .infoTable tr .userMessage > .message {
    margin-left: 1.1rem;
    margin-bottom: 0.4rem;
    padding-left: 0.4rem;

    border-radius: 0.3rem;

    height: 1.9rem;
}

#userInfoContainer > .infoTable tr .userMessage > .messageZone > .input {
    width: 30rem;

    margin-left: 1.1rem;
}


#paymentContainer {
    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;

    min-width: 80vw;

    margin-top: 3rem;
}

#paymentContainer > .one {
    margin-right: 2rem;
    margin-top: 1rem;
    flex: 1;
}

#paymentContainer > .one > .selectTitle {
    margin-top: 1rem;

    font-size: 1.25rem;
    color: rgb(86, 81, 81);
}

#paymentContainer > .one > .selectContent {
    border-top: 0.14rem solid #d6d6d6;
    border-spacing: 0;

    margin-top: 1rem;

    width: 90%;
}

#paymentContainer > .one > .selectContent tr th {
    background-color: #e6e6e6;

    padding: 1rem 1rem 1rem 1rem;
    width: 30%;

    border-bottom: 0.0625rem solid #ccc;
}

#paymentContainer > .one > .selectContent tr td {
    border-bottom: 0.0625rem solid #ccc;

    padding: 1.5rem 2rem 1.5rem 2rem;
}

#paymentContainer > .one > .selectContent tr td > .radio {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#paymentContainer > .one > .selectContent tr td > .bankSelect {
    margin-bottom: 0.4rem;
    padding-left: 0.5rem;

    border-radius: 0.3rem;

    height: 1.9rem;
    width: 15rem;
}

#paymentContainer > .two {
    margin-top: 2rem;
}

#paymentContainer > .two > .paymentTitle {
    margin-top: 1rem;

    font-size: 1.4rem;
    font-weight: bold;
}

#paymentContainer > .two > .paymentContent {
    margin-top: 1rem;

    border: 0.2rem solid rgb(110, 104, 104);
}

#paymentContainer > .two > .paymentContent > .total {
    padding: 2rem 2rem 1rem 2rem;

    border-bottom: 0.0625rem solid #ccc;

    align-items : flex-start;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
}

#paymentContainer > .two > .paymentContent > .total > .totalText {
    flex: 1;
}

#paymentContainer > .two > .paymentContent > .shipment {
    padding: 1rem 2rem 1rem 2rem;

    border-bottom: 0.0625rem solid #ccc;

    align-items : flex-start;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
}

#paymentContainer > .two > .paymentContent > .shipment > .shipmentText {
    flex: 1;
}

#paymentContainer > .two > .paymentContent > .final {
    padding: 2rem 2rem 2rem 2rem;

    border-bottom: 0.0625rem solid #ccc;

    align-items : flex-start;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
}

#paymentContainer > .two > .paymentContent > .final > .finalText {
    flex: 1;

    font-size: 1.2rem;
    font-weight: bold;
}

#paymentContainer > .two > .paymentContent > .final > .finalCost {
    font-size: 1.5rem;
    font-weight: bold;

    color: rgb(232, 23, 23);
}

#paymentContainer > .two > .paymentContent > .agree {
    padding: 1rem 2rem 1rem 2rem;

    align-items : flex-start;
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
}

#paymentContainer > .two > .paymentContent > .agree > .agreeText {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

#paymentContainer > .two > .paymentContent > .agree > .all {
    align-items : center;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;

    width: 100%;
}

#paymentContainer > .two > .paymentContent > .agree > .all > .allAgree {
    flex: 1;
    margin-left: 0.5rem;

    font-weight: bold;
    font-size: 0.9rem;
}

#paymentContainer > .two > .paymentContent > .button-container {
    padding: 0 2rem 1rem 2rem;

    align-items : flex-start;
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
}

#paymentContainer > .two > .paymentContent > .button-container > .payment {
    width: 100%;
    height: 3rem;

    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);

    background-color: rgb(220, 132, 160);

    border-radius: 0.3rem;
    border: 0.1rem solid rgb(220, 132, 160);

    cursor: pointer;

    margin-bottom: 1rem;
}

#paymentContainer > .two > .paymentContent > .button-container > .payment:hover {
    background-color: rgb(243, 144, 172);
    border: 0.1rem solid rgb(243, 144, 172);
}