<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <th:block th:replace="~{fragments/commonHead :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/home.css}">
    <script defer th:src="@{/resources/scripts/home.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>

<main class="—main main">
    <div class="do-container">

    </div>
    <div class="best-bbs-container">
        <h1 class="title">공지사항</h1>
        <table class="table" id="table1">
            <thead>
            <tr>

                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>추천</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article:${articles}">

                <td>
                    <a class="title" th:href="@{/dios/read(aid=${article.getIndex()})}">
                        <span class="text" th:text="${article.getTitle()}">세번째 게시글</span>
                        <span class="comment" th:text="${'['+article.getCommentCount()+']'}">[3]</span>
                    </a>
                </td>
                <td th:text="${article.getUserNickname()}">쉘던</td>
                <td th:text="${article.getView()}">17</td>
                <td th:text="${article.getLikeCount()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="best-bbs-container">
        <h1 class="title">인기글</h1>
        <table class="table" id="table2">
            <thead>
            <tr>

                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>추천</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="best:${article}">

                <td>
                    <a class="title" th:href="@{/dios/read(aid=${best.getIndex()})}">
                        <span class="text" th:text="${best.getTitle()}">세번째 게시글</span>
                        <span class="comment" th:text="${'['+best.getCommentCount()+']'}">[3]</span>
                    </a>
                </td>
                <td th:text="${best.getUserNickname()}">쉘던</td>
                <td th:text="${best.getView()}">17</td>
                <td th:text="${best.getLikeCount()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>